{% extends "base.html" %}

{% load tools static %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
<script type="text/javascript">
$("#collapsepiso").addClass('show');
$(".item29").addClass('active');
{% for value in years.values %}
$(function () {
    $('#grafo1-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Meses para  realizar el manejo'
        },
        xAxis: {
            categories:  ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Conteo'
            },
            stackLabels: {
                enabled: false,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
        series: [
        {% for k,v in value.1.items %}
            {
                name: '{{k}}',
                data: {{v}}
            },
        {% endfor %}]
    });
});
{% endfor %}
</script>
{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="monitoreo_trans">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'consulta-tranformacion' %}">Transformación</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Piso</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Propuesta manejo</h4>
                 
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "transformacion/menu_salidas.html" %}

        </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-inline mb-20">
                                <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{value.0}}</kbd></li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <div class="card-box">
                                <h4 class="header-title">Propuesta de manejo</h4>
                                <div class="table-responsive tabla-poda">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Observación</th>
                                            <th>Frecuencia</th>
                                            <th>Porcentaje (%)</th>
                                            <th>Toda la finca (%)</th>
                                            <th>Alguna parte (%)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for k,v in value.2.items %}
                                        <tr>
                                            <th scope=row>{{k}}</th>
                                            <td>{{v.0|default:0}}</td>
                                            <td>{{v.0|default:0|calcular_frecuencia:value.0}}</td>
                                            <td>{{v.1|default:0|calcular_frecuencia:value.0}}</td>
                                            <td>{{v.2|default:0|calcular_frecuencia:value.0}}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>                               
                            </div>
                        </div> 
                        <div class="col-12">
                            <div class="card-box">
                                <div id="grafo1-{{forloop.counter}}"></div>                         
                            </div>
                        </div>               
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
