{% extends "base.html" %}

{% load static %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
<script type="text/javascript">
$("#collapsepoda").addClass('show');
$(".item9").addClass('active');
{% for v in years.values %}
$(function () {
    $('#grafo1-{{forloop.counter}}').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Altura de platas punto 1 en mt2'
        },
        subtitle: {
            text: '(% altura estimación visual)'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '% altura'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'bottom',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y}'
                }
            }
        },
        series: [{
            name: 'Punto 1',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in v.6 %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});
$(function () {
    $('#grafo2-{{forloop.counter}}').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Altura de platas punto 2 en mt2'
        },
        subtitle: {
            text: '(% altura estimación visual)'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '% altura'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'bottom',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y}'
                }
            }
        },
        series: [{
            name: 'Punto 2',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in v.7 %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});
$(function () {
    $('#grafo3-{{forloop.counter}}').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Altura de platas punto 3 en mt2'
        },
        subtitle: {
            text: '(% altura estimación visual)'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '% altura'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'bottom',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} '
                }
            }
        },
        series: [{
            name: 'Punto 3',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in v.8 %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});
//
$(function () {
    // Create the chart
    $('#grafo4-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Distribución de frecuencia'
        },
        subtitle: {
            text: 'Rangos de alturas'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: 'Rangos',
            colorByPoint: true,
            data: [
            {% for k,v in v.9.items %}
              {
                  name: '{{k}}',
                  y: {{v}},
              },
            {% endfor %}
            ]
        }]
    });
});
{% endfor %}

</script>
{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="monitoreo_trans">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'consulta-tranformacion' %}">Transformación</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Poda</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Alturas de las plantas</h4>
                 
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "transformacion/menu_salidas.html" %}

        </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for v in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <h4 class="header-title mb-4">Alturas de las plantas</h4>

                                <div class="row">
                                    <div class="col-sm-6 col-lg-6 col-xl-2">
                                        <div class="mb-0">
                                            <div class="widget-chart-two-content text-center">
                                                <p class="text-muted mb-0 mt-2">Número de parcelas</p>
                                                <h3 class="">{{v.0}}</h3>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-xl-2">
                                        <div class="mb-0">
                                            <div class="widget-chart-two-content text-center">
                                                <p class="text-muted mb-0 mt-2">Promedio</p>
                                                <h3 class="">{{v.1|floatformat:2}}</h3>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-xl-2">
                                        <div class="mb-0">
                                            <div class="widget-chart-two-content text-center">
                                                <p class="text-muted mb-0 mt-2">Mediana</p>
                                                <h3 class="">{{v.2|floatformat:2}}</h3>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-xl-2">
                                        <div class="mb-0">
                                            <div class="widget-chart-two-content text-center">
                                                <p class="text-muted mb-0 mt-2">Desviación típica</p>
                                                <h3 class="">{{v.3|floatformat:2}}</h3>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-xl-2">
                                        <div class="mb-0">
                                            <div class="widget-chart-two-content text-center">
                                                <p class="text-muted mb-0 mt-2">Mínimo</p>
                                                <h3 class="">{{v.4|floatformat:2}}</h3>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6 col-xl-2">
                                        <div class="mb-0">
                                            <div class="widget-chart-two-content text-center">
                                                <p class="text-muted mb-0 mt-2">Máximo</p>
                                                <h3 class="">{{v.5|floatformat:2}}</h3>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <!-- end row -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <div id="grafo1-{{forloop.counter}}"></div>                         
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-box">
                                <div id="grafo2-{{forloop.counter}}"></div>                         
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-box">
                                <div id="grafo3-{{forloop.counter}}"></div>                         
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-box">
                                <div id="grafo4-{{forloop.counter}}"></div>                         
                            </div>
                        </div>
                      
                    </div>
                </div>
                {% endfor %}
            

        </div>
    </div>
</div>



{% endblock content %}
