<ul class="list-group">

    <a class="list-group-item" href="/cacao/poda/altura/">
        Alturas de las plantas
    </a>

    <a class="list-group-item" href="/cacao/poda/largo-madera/">
        Largo de Madera Productiva
    </a>

    <a class="list-group-item" href="/cacao/poda/ancho-copa/">
        Ancho de la copa
    </a>

    <a class="list-group-item" href="/cacao/poda/produccion/">
        Nivel de producción
    </a>

    <a class="list-group-item" href="/cacao/poda/atributos/">
        Atributos de los árboles
    </a>

    <a class="list-group-item" href="/cacao/poda/analisis/">
        Analisis de la poda
    </a>

    <a class="list-group-item" href="/cacao/poda/tipos-poda/">
        Tipos de poda
    </a>

    <a class="list-group-item" href="/cacao/poda/acciones/">
        Acciones de poda
    </a>

</ul>
