{% extends "base.html" %}

{% load tools %}

{% block extra_js %}
<script>
    $("#collapseprimaria").addClass('show');
    $(".item53").addClass('active');
</script>
{% endblock extra_js %}
{% block content %}
<div class="container-fluid" id="monitoreo_trans">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'consulta-tranformacion' %}">Transformación</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Cosecha primaria</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Cosecha Primaria: Mazorcas sanas</h4>

            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "transformacion/menu_salidas.html" %}

        </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-inline mb-20">
                                <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{value.0}}</kbd></li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <div class="card-box">
                                <h4 class="header-title">Datos de Mazorcas sanas</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Datos</th>
                                                <th>Valores</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Número total de plantas observadas cosecha</td>
                                                <td>{{value.1.0}}</td>
                                            </tr>
                                            <tr>
                                                <td>Número total de mazorcas sanas cosecha</td>
                                                <td>{{value.1.1|floatformat:2}}</td>
                                            </tr>
                                            <tr>
                                                <td>Número de mazorcas sanas/plantas cosecha</td>
                                                <td>{{value.1.2|floatformat:2}}</td>
                                            </tr>
                                            <tr>
                                                <td>Promedio numero de planta/Ha</td>
                                                <td>{{value.1.3|floatformat:2}}</td>
                                            </tr>
                                            <tr>
                                                <td>Número de mazorcas sanas/Ha</td>
                                                <td>{{value.1.4|floatformat:2}}</td>
                                            </tr>
                                            <tr>
                                                <td>Peso de baba en qq/Ha</td>
                                                <td>{{value.1.5|floatformat:2}}</td>
                                            </tr>
                                            <tr>
                                                <td>Peso de granos secos en qq/Ha</td>
                                                <td>{{value.1.6|floatformat:2}}</td>
                                            </tr>
                                            <tr>
                                                <td>Peso de granos secos en kg/ha</td>
                                                <td>{{value.1.7|floatformat:2}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            

        </div>
    </div>
</div>
{% endblock content %}
