{% extends "base.html" %}

{% load tools %}

{% block content %}
<div class="container-fluid" id="estado_finca">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'consulta-rentabilidad' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Rentabilidad</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Diseño de parcelas</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "rentabilidad/menu_salidas_rentabilidad.html" %}

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Filtros Seleccionado</h4>
                        {% include "rentabilidad/filtros.html" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title">Diseño de parcelas</h4>
                        <ul class="list-inline mb-20">
                            <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{numero_total_parcela}}</kbd></li>
                        </ul>
                        <div class="table-responsive">
                            <div id="modalidad1">
                                <table class="table table-bordered big-table">
                                    <thead class="bg-theme-colored-darker3">
                                        <tr>
                                            <th class="text-center">CACAO</th>
                                            <th colspan="6" class="text-center">Cantidades por ha</th>
                                        </tr>
                                        <tr>
                                            <th>Variedad</th>
                                            <th>Minimo</th>
                                            <th>Maximo</th>
                                            <th>Promedio</th>
                                            <th>Mediana</th>
                                            <th># Familias</th>
                                            <th>%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for k, v in cacao.items %}
                                        <tr>
                                            <td>{{k}}</td>
                                            <td>{{v.0|floatformat:1}}</td>
                                            <td>{{v.1|floatformat:1}}</td>
                                            <td>{{v.2|floatformat:1}}</td>
                                            <td>{{v.3|floatformat:1}}</td>
                                            <th>{{v.4}}</th>
                                            <td>{{v.4|calcular_frecuencia:num_familias}} %</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <div class="table-responsive">
                            <div id="modalidad1">
                                <table class="table table-bordered big-table">
                                    <thead class="bg-theme-colored-darker3">
                                        <tr>
                                            <th class="text-center">CAFÉ</th>
                                            <th colspan="6" class="text-center">Cantidades por ha</th>
                                        </tr>
                                        <tr>
                                            <th>Variedad</th>
                                            <th>Minimo</th>
                                            <th>Maximo</th>
                                            <th>Promedio</th>
                                            <th>Mediana</th>
                                            <th># Familias</th>
                                            <th>%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for k, v in cafe.items %}
                                        <tr>
                                            <td>{{k}}</td>
                                            <td>{{v.0|floatformat:1}}</td>
                                            <td>{{v.1|floatformat:1}}</td>
                                            <td>{{v.2|floatformat:1}}</td>
                                            <td>{{v.3|floatformat:1}}</td>
                                            <th>{{v.4}}</th>
                                            <td>{{v.4|calcular_frecuencia:num_familias}} %</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <div class="table-responsive">
                            <div id="modalidad1">
                                <table class="table table-bordered big-table">
                                    <thead class="bg-theme-colored-darker3">
                                        <tr>
                                            <th class="text-center">MUSACEAS</th>
                                            <th colspan="6" class="text-center">Cantidades por ha</th>
                                        </tr>
                                        <tr>
                                            <th>Variedad</th>
                                            <th>Minimo</th>
                                            <th>Maximo</th>
                                            <th>Promedio</th>
                                            <th>Mediana</th>
                                            <th># Familias</th>
                                            <th>%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for k, v in musaceas.items %}
                                        <tr>
                                            <td>{{k}}</td>
                                            <td>{{v.0|floatformat:1}}</td>
                                            <td>{{v.1|floatformat:1}}</td>
                                            <td>{{v.2|floatformat:1}}</td>
                                            <td>{{v.3|floatformat:1}}</td>
                                            <th>{{v.4}}</th>
                                            <td>{{v.4|calcular_frecuencia:num_familias}} %</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <div class="table-responsive">
                            <div id="modalidad1">
                                <table class="table table-bordered big-table">
                                    <thead class="bg-theme-colored-darker3">
                                        <tr>
                                            <th class="text-center">FRUTALES</th>
                                            <th colspan="6" class="text-center">Cantidades por ha</th>
                                        </tr>
                                        <tr>
                                            <th>Variedad</th>
                                            <th>Minimo</th>
                                            <th>Maximo</th>
                                            <th>Promedio</th>
                                            <th>Mediana</th>
                                            <th># Familias</th>
                                            <th>%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for k, v in frutales.items %}
                                        <tr>
                                            <td>{{k}}</td>
                                            <td>{{v.0|floatformat:1}}</td>
                                            <td>{{v.1|floatformat:1}}</td>
                                            <td>{{v.2|floatformat:1}}</td>
                                            <td>{{v.3|floatformat:1}}</td>
                                            <th>{{v.4}}</th>
                                            <td>{{v.4|calcular_frecuencia:num_familias}} %</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <div class="table-responsive">
                            <div id="modalidad1">
                                <table class="table table-bordered big-table">
                                    <thead class="bg-theme-colored-darker3">
                                        <tr>
                                            <th class="text-center">MADERABLES</th>
                                            <th colspan="6" class="text-center">Cantidades por ha</th>
                                        </tr>
                                        <tr>
                                            <th>Variedad</th>
                                            <th>Minimo</th>
                                            <th>Maximo</th>
                                            <th>Promedio</th>
                                            <th>Mediana</th>
                                            <th># Familias</th>
                                            <th>%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for k, v in maderables.items %}
                                        <tr>
                                            <td>{{k}}</td>
                                            <td>{{v.0|floatformat:1}}</td>
                                            <td>{{v.1|floatformat:1}}</td>
                                            <td>{{v.2|floatformat:1}}</td>
                                            <td>{{v.3|floatformat:1}}</td>
                                            <th>{{v.4}}</th>
                                            <td>{{v.4|calcular_frecuencia:num_familias}} %</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <div class="table-responsive">
                            <div id="modalidad1">
                                <table class="table table-bordered big-table">
                                    <thead class="bg-theme-colored-darker3">
                                        <tr>
                                            <th class="text-center">ÁRBOLES DE SERVICIOS</th>
                                            <th colspan="6" class="text-center">Cantidades por ha</th>
                                        </tr>
                                        <tr>
                                            <th>Variedad</th>
                                            <th>Minimo</th>
                                            <th>Maximo</th>
                                            <th>Promedio</th>
                                            <th>Mediana</th>
                                            <th># Familias</th>
                                            <th>%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for k, v in arboles.items %}
                                        <tr>
                                            <td>{{k}}</td>
                                            <td>{{v.0|floatformat:1}}</td>
                                            <td>{{v.1|floatformat:1}}</td>
                                            <td>{{v.2|floatformat:1}}</td>
                                            <td>{{v.3|floatformat:1}}</td>
                                            <th>{{v.4}}</th>
                                            <td>{{v.4|calcular_frecuencia:num_familias}} %</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <div class="table-responsive">
                            <div id="modalidad1">
                                <table class="table table-bordered big-table">
                                    <thead class="bg-theme-colored-darker3">
                                        <tr>
                                            <th class="text-center">GRANOS BÁSICOS</th>
                                            <th colspan="6" class="text-center">Cantidades por ha</th>
                                        </tr>
                                        <tr>
                                            <th>Variedad</th>
                                            <th>Minimo</th>
                                            <th>Maximo</th>
                                            <th>Promedio</th>
                                            <th>Mediana</th>
                                            <th># Familias</th>
                                            <th>%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for k, v in granos.items %}
                                        <tr>
                                            <td>{{k}}</td>
                                            <td>{{v.0|floatformat:1}}</td>
                                            <td>{{v.1|floatformat:1}}</td>
                                            <td>{{v.2|floatformat:1}}</td>
                                            <td>{{v.3|floatformat:1}}</td>
                                            <th>{{v.4}}</th>
                                            <td>{{v.4|calcular_frecuencia:num_familias}} %</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    $("#collapsefamilia").addClass('show');
    $(".item2").addClass('active');
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
</script>
{% endblock extra_js %}
