{% extends "base.html" %}

{% load static %}

{% block extra_js %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>

<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}" />
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}" />
<script src="{% static 'js/leaflet.markercluster-src.js' %}"></script>

<script type="text/javascript">
    // position we will use later
    var lat = 15.306036;
    var lon = -79.647478;
    var greenIcon = L.icon({
        iconUrl: '/static/img/maps/green1.png',
        shadowUrl: '/static/img/maps/green1.png',

        iconSize:     [38, 95], // size of the icon
        shadowSize:   [50, 64], // size of the shadow
        iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
        shadowAnchor: [4, 62],  // the same for the shadow
        popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });
    // initialize map
    map = L.map('mapDiv', {scrollWheelZoom:false, icon: greenIcon,}).setView([lat, lon], 5);
    // set map tiles source
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
      maxZoom: 18,
      icon: greenIcon,
    }).addTo(map);
    var markers = L.markerClusterGroup({ animateAddingMarkers : true });
    var markersList = [];
    // add marker to the map
    
    {% for x in mapa %}
      {% if x.1 and x.2 %}
        var marker = L.marker([{{x.1}}, {{x.2}}])
        var contenido = '{{x.0}}';
        marker.bindPopup(contenido);

        markersList.push(marker);
        markers.addLayer(marker);
      {% endif %}
    {% endfor %}
     
    map.addLayer(markers);

  </script>

<script type="text/javascript">
    $("#collapsefamilia").addClass('show');
    $(".item7").addClass('active');
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
        
</script>
{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="estado_finca">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'consulta-rentabilidad' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Rentabilidad</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Descripcion de muestras</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "rentabilidad/menu_salidas_rentabilidad.html" %}

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Filtros Seleccionado</h4>
                        {% include "rentabilidad/filtros.html" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                       <h4 class="mb-3 ">Mapa Rentabilidad <a href="#"></a></h4>
                      <div id="mapDiv" style="width: 100%; height: 500px"></div> 
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>

{% endblock content %}

