<div class="botonera">
        <a id="ancla" href="/rentabilidad/descripcion/" class="btn btn-primary waves-light waves-effect custom-btn">Descripcion de muestras</a>
        <a href="/rentabilidad/parcela/" class="btn btn-primary waves-light waves-effect custom-btn">Diseño de parcelas</a>
        <a href="/rentabilidad/costos/"class="btn btn-primary waves-light waves-effect custom-btn">Costo</a>
        <a href="/rentabilidad/ingresos/"class="btn btn-primary waves-light waves-effect custom-btn">Ingresos</a>
        <a href="/rentabilidad/modelado/"class="btn btn-primary waves-light waves-effect custom-btn"> Modelo de estimado de rentabilidad</a>
        <a href="/rentabilidad/rentabilidad/"class="btn btn-primary waves-light waves-effect custom-btn">Rentabilidad SAF</a>
        <a href="/rentabilidad/mapa_rentabilidad/"class="btn btn-primary waves-light waves-effect custom-btn">Mapa</a>
</div>
