{% extends "base.html" %}

{% load tools %}

{% block content %}
<div class="container-fluid" id="estado_finca">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'consulta-rentabilidad' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Rentabilidad</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Modelo de estimado de rentabilidad</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "rentabilidad/menu_salidas_rentabilidad.html" %}

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Filtros Seleccionado</h4>
                        {% include "rentabilidad/filtros.html" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title">Modelo para proyectar la rentabilidad</h4>
                        <div class="table-responsive">
                            <div id="modalidad1">
                                <table class="table table-bordered big-table">
                                    <thead class="bg-theme-colored-darker3">
                                        <tr>
                                            <th>Año</th>
                                            <th>Cacao</th>
                                            <th>Café</th>
                                            <th>Musaceas</th>
                                            <th>Frutales</th>
                                            <th>Maderables</th>
                                            <th>Árboles de servicios</th>
                                            <th>Granos básicos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for k,v  in modelado_costo.items %}
                                    <tr>
                                        <td>{{k}}</td>
                                            <td>{{v.0}}</td>
                                            <td>{{v.1}}</td>
                                            <td>{{v.2}}</td>
                                            <td>{{v.3}}</td>
                                            <td>{{v.4}}</td>
                                            <td>{{v.5}}</td>
                                            <td>{{v.6}}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    $("#collapsefamilia").addClass('show');
    $(".item5").addClass('active');
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
        
</script>
{% endblock extra_js %}
