{% extends "base.html" %}

{% load tools %}
{% load humanize %}

{% block content %}
<div class="container-fluid" id="estado_finca">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'consulta-rentabilidad' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Rentabilidad</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Rentabilidad SAF</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "rentabilidad/menu_salidas_rentabilidad.html" %}

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Filtros Seleccionado</h4>
                        {% include "rentabilidad/filtros.html" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Filtrar Datos</h4>
                        {% include "rentabilidad/consulta_form.html" %}
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <ul class="list-inline mb-20">
                            <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{numero_total_parcela}}</kbd></li>
                            <li class="list-inline-item"><strong>Areas de las parcelas (ha) total: </strong><kbd>{{promedio_areas|floatformat:2}}</kbd></li>
                        </ul>
                        <ul class="nav nav-pills navtab-bg" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="parcela-tab" data-toggle="tab" href="#parcela" role="tab" aria-controls="parcela" aria-selected="true">Inversión</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="riego-tab" data-toggle="tab" href="#riego" role="tab" aria-controls="riego" aria-selected="false">Ingreso neto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="valoracion-tab" data-toggle="tab" href="#valoracion" role="tab" aria-controls="valoracion" aria-selected="false">Finanzas</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="parcela" role="tabpanel" aria-labelledby="parcela-tab">
                                <div class="col-12">
                                    <h4 class="title line-bottom mb-10">
                                    Inversión proyectada por $/ha por años
                                    </h4>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped mb-0">
                                            <thead class="bg-theme-colored-darker3">
                                                <tr>
                                                    <th>Año</th>
                                                    <th>Cacao</th>
                                                    <th>Café</th>
                                                    <th>Musaceas</th>
                                                    <th>Frutales</th>
                                                    <th>Maderables</th>
                                                    <th>Árboles de servicios</th>
                                                    <th>Granos básicos</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k,v  in modelado_inversion.items %}
                                            <tr>
                                                <td>{{k}}</td>
                                                    <td>{{v.0|floatformat:2}}</td>
                                                    <td>{{v.1|floatformat:2}}</td>
                                                    <td>{{v.2|floatformat:2}}</td>
                                                    <td>{{v.3|floatformat:2}}</td>
                                                    <td>{{v.4|floatformat:2}}</td>
                                                    <td>{{v.5|floatformat:2}}</td>
                                                    <td>{{v.6|floatformat:2}}</td>
                                                    <td>{{v.7|floatformat:2}}</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="riego" role="tabpanel" aria-labelledby="riego-tab">
                                <div class="col-12">
                                    <h4 class="title line-bottom mb-10">
                                    Ingreso neto proyectado por $/ha por años
                                    </h4>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead class="bg-theme-colored-darker3">
                                                <tr>
                                                    <th>Año</th>
                                                    <th>Cacao</th>
                                                    <th>Café</th>
                                                    <th>Musaceas</th>
                                                    <th>Frutales</th>
                                                    <th>Maderables</th>
                                                    <th>Árboles de servicios</th>
                                                    <th>Granos básicos</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k,v  in modelado_ingreso.items %}
                                            <tr>
                                                <td>{{k}}</td>
                                                    <td>{{v.0|floatformat:2}}</td>
                                                    <td>{{v.1|floatformat:2}}</td>
                                                    <td>{{v.2|floatformat:2}}</td>
                                                    <td>{{v.3|floatformat:2}}</td>
                                                    <td>{{v.4|floatformat:2}}</td>
                                                    <td>{{v.5|floatformat:2}}</td>
                                                    <td>{{v.6|floatformat:2}}</td>
                                                    <td>{{v.7|floatformat:2}}</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="valoracion" role="tabpanel" aria-labelledby="valoracion-tab">
                                <div class="row">
                                    <div class="col-6">
                                        <h4 class="sub-header">Tasa Interna de retorno para 25 años con Tasa de referencia 10%</h4>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped mb-0">
                                                <thead class="bg-theme-colored-darker3">
                                                    <tr>
                                                        <th>Rubros</th>
                                                        <th>Porcentajes</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for k,v  in modelado_tir.items %}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v|floatformat:2}} %</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h4 class="sub-header">Valor Presente Neto para 25 años con Tasa de referencia 10%</h4>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped mb-0">
                                                <thead class="bg-theme-colored-darker3">
                                                    <tr>
                                                        <th>Rubros</th>
                                                        <th>$</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for k,v  in modelado_sistema.items %}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v|floatformat:2|intcomma}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
<link href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function () {
    // Select2
    $(".select2").select2();
    $('#id_fecha').select2();
});

$("#id_productor").autocomplete({
    source: '{% url "productor-search"%}',
    minLength: 2,
  });
$('#id_nexturl').val(window.location.href);
{% if request.session.fecha %}
        $('#id_fecha').val({% for x in request.session.fecha %} {{x}} {%endfor%});
{% endif %}
{% if request.session.pais %}
        $('#id_pais').val({{request.session.pais.id}});
{% endif %}
{% if request.session.modelo %}
        $('#id_modelo').val({{request.session.modelo.id}});
{% endif %}
{% if request.session.parcela %}
        $('#id_parcela').val({{request.session.parcela}});
{% endif %}
{% if request.session.manejo %}
        $('#id_manejo').val({{request.session.manejo}});
{% endif %}
{% if request.session.intensidad %}
        $('#id_intensidad').val({{request.session.intensidad}});
{% endif %}
{% if request.session.riego %}
        $('#id_riego').val({{request.session.riego}});
{% endif %}
{% if request.session.saf %}
        $('#id_saf').val({{request.session.saf}});
{% endif %}
{% if request.session.valoracion %}
        $('#id_valoracion').val({{request.session.valoracion}});
{% endif %}
{% if request.session.sexo %}
        $('#id_sexo').val({{request.session.sexo}});
{% endif %}
</script>
<script type="text/javascript">
    $("#collapsefamilia").addClass('show');
    $(".item6").addClass('active');
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
        $( ".form-horizontal select" ).addClass( "form-control" );
</script>
{% endblock extra_js %}
