{% extends "base.html" %}

{% load static %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
<script type="text/javascript">
$("#collapsesombra").addClass('show');
$(".item6").addClass('active');

{% for v in years.values %}
$(function () {
  $('#grafo1-{{forloop.counter}}').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Tipos de especies'
      },
      xAxis: {
          categories: [{% for k,v in v.1.items %} '{{k}}', {% endfor%}]
      },
      yAxis: {
          min: 0,
          title: {
              text: ''
          },
          stackLabels: {
              enabled: true,
              style: {
                  fontWeight: 'bold',
                  color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
              }
          }
      },
      legend: {
          align: 'right',
          x: -30,
          verticalAlign: 'top',
          y: 25,
          floating: true,
          backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
          borderColor: '#CCC',
          borderWidth: 1,
          shadow: false
      },
      tooltip: {
          headerFormat: '<b>{point.x}</b><br/>',
          pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
      },
      plotOptions: {
          column: {
              stacking: 'normal',
              dataLabels: {
                  enabled: true,
                  color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                  style: {
                      textShadow: '0 0 3px black'
                  }
              }
          }
      },
      series: [
        {
          name: 'pequeña',
          data: [{{v.2.0.0}},{{v.2.1.0}}]
        },
        {
          name: 'mediano',
          data: [{{v.2.0.1}},{{v.2.1.1}}]
        },
        {
          name: 'grande',
          data: [{{v.2.0.2}},{{v.2.1.2}}]
        },
      ]
  });
});

$(function () {
  $('#grafo2-{{forloop.counter}}').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Tipos de copas'
      },
      xAxis: {
          categories: [{% for k,v in v.3.items %} '{{k}}', {% endfor%}]
      },
      yAxis: {
          min: 0,
          title: {
              text: ''
          },
          stackLabels: {
              enabled: true,
              style: {
                  fontWeight: 'bold',
                  color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
              }
          }
      },
      legend: {
          align: 'right',
          x: -30,
          verticalAlign: 'top',
          y: 25,
          floating: true,
          backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
          borderColor: '#CCC',
          borderWidth: 1,
          shadow: false
      },
      tooltip: {
          headerFormat: '<b>{point.x}</b><br/>',
          pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
      },
      plotOptions: {
          column: {
              stacking: 'normal',
              dataLabels: {
                  enabled: true,
                  color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                  style: {
                      textShadow: '0 0 3px black'
                  }
              }
          }
      },
      series: [
            {
              name: 'pequeña',
              data: [{{v.4.0.0}},{{v.4.1.0}},{{v.4.2.0}}]
            },
            {
              name: 'mediano',
              data: [{{v.4.0.1}},{{v.4.1.1}},{{v.4.2.1}}]
            },
            {
              name: 'grande',
              data: [{{v.4.0.2}},{{v.4.1.2}},{{v.4.2.2}}]
            },
    ]
  });
});

$(function () {
  $('#grafo3-{{forloop.counter}}').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Tipos de usos'
      },
      xAxis: {
          categories: [{% for k,v in v.5.items %} '{{k}}', {% endfor%}]
      },
      yAxis: {
          min: 0,
          title: {
              text: ''
          },
          stackLabels: {
              enabled: true,
              style: {
                  fontWeight: 'bold',
                  color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
              }
          }
      },
      legend: {
          align: 'right',
          x: -30,
          verticalAlign: 'top',
          y: 25,
          floating: true,
          backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
          borderColor: '#CCC',
          borderWidth: 1,
          shadow: false
      },
      tooltip: {
          headerFormat: '<b>{point.x}</b><br/>',
          pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
      },
      plotOptions: {
          column: {
              stacking: 'normal',
              dataLabels: {
                  enabled: true,
                  color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                  style: {
                      textShadow: '0 0 3px black'
                  }
              }
          }
      },
      series: [
            {
              name: 'pequeña',
              data: [{{v.6.0.0}},{{v.6.1.0}},{{v.6.2.0}},{{v.6.3.0}},{{v.6.4.0}}]
            },
            {
              name: 'mediano',
              data: [{{v.6.0.1}},{{v.6.1.1}},{{v.6.2.1}},{{v.6.3.1}},{{v.6.4.1}}]
            },
            {
              name: 'grande',
              data: [{{v.6.0.2}},{{v.6.1.2}},{{v.6.2.2}},{{v.6.3.2}},{{v.6.4.2}}]
            },
    ]
  });
});
{% endfor %}
</script>
{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="monitoreo_trans">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'consulta-tranformacion' %}">Transformación</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Sombra</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Caracterización</h4>
                 
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "transformacion/menu_salidas.html" %}

        </div>
        <div class="col-md-10">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for v in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                  <div class="row">
                      <div class="col-12">
                          <div class="card-box">
                              <h4 class="header-title">Caracterización arborea de sombra</h4>
                              <ul class="list-inline mb-20">
                                  <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{v.0}}</kbd></li>
                              </ul>
                              <div id="grafo1-{{forloop.counter}}"></div>                         
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="card-box">
                              <div id="grafo2-{{forloop.counter}}"></div>                         
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="card-box">
                              <div id="grafo3-{{forloop.counter}}"></div>                         
                          </div>
                      </div>
                    
                  </div>
                </div>
                {% endfor %}
            

        </div>
    </div>
</div>

{% endblock content %}
