/*Variables de color*/

//paleta 
cafe =rgb(76,51,39)
averde = rgb(106,127,16)
naranja = rgb(212,123,34)
rojo = rgb(170,39,47)
amarillo = rgb(234,171,0)
bajoamarillo = rgb(246,234,211)
bajoamarillo2 = #e4ca98

//clima
azul = #29A0B1
lowcafe = #83633B
verde = #29321E
oscuro = #424859
/***Veriables de Fuentes**/
titulo_font = "Rubik", sans-serif


//margenes
marginf(n)
    margin-top n
    margin-bottom n
    margin-right n
    margin-left n

for i in (1..5)
    .mar-{i}0
        margin i * 10px
for i in (1..10)
    .mt-{i}0
        margin-top i * 10px
for i in (1..10)
    .mb-{i}0
        margin-bottom i * 10px
for i in (1..10)
    .mr-{i}0
        margin-right i * 10px
for i in (1..10)
    .ml-{i}0
        margin-left i * 10px

//padding
paddingf(n)
    padding-top n
    padding-bottom n
    padding-right n
    padding-left n
for i in (1..5)
    .pad-{i}0
        padding i * 10px
for i in (1..10)
    .pt-{i}0
        padding-top i * 10px
for i in (1..10)
    .pb-{i}0
        padding-bottom i * 10px
for i in (1..10)
    .pr-{i}0
        padding-right i * 10px
for i in (1..10)
    .pl-{i}0
        padding-left i * 10px
/**Sombra**/
box-shadow(args...)
    -webkit-box-shadow args
    -moz-box-shadow args
    box-shadow args

/**Header**/
.logo .logo
    padding: 5px
#topnav .navbar-custom
    background-color: averde
#topnav .navigation-menu > li > a
    color: white
/**Index**/
.fondoindex
    background url("/static/images/fondos/fondo.jpg")
    background-size: cover
    .card-body
        padding .50rem .75rem
.white-transparent
    background-color: rgba(255, 255, 255, 0.8)
.estado_finca
    background-color: averde
.monitoreo_estable
    background-color: naranja
.monitoreo_trans
    background-color: cafe
.monitoreo_reta
    background-color: rojo
.monitoreo_plan
    background-color: amarillo
.monitoreo_otro
    background-color: bajoamarillo2

/****Consulta****/
.shadow-v
    box-shadow -0.250rem 0.125rem 0.5rem rgba(0,0,0,.075)
/****Linea Base****/
#estado_finca
    #head_collapse
        background-color averde
        color: white
        a
            font-weight: 500
    .botonera
        a
            background-color: averde
            border-color: averde
            margin 5px 0px
            font-size: 16px
            &:hover
                background-color oscuro
    .btn-down
        color: white
        margin: 5px
        background-color averde
/****Establecimiento****/
#monitoreo_estable
    #head_collapse
        background-color naranja
        color: white
        a
            font-weight: 500
    .botonera
        a
            background-color: naranja
            border-color: naranja
            margin 5px 0px
            font-size: 16px
            &:hover
                background-color oscuro
    .btn-down
        color: white
        margin: 5px
        background-color naranja
/****Transformación****/
#monitoreo_trans
    #head_collapse
        background-color cafe
        color: white
        a
            font-weight: 500
    .botonera
        a
            background-color: cafe
            border-color: cafe
            margin 5px 0px
            font-size: 16px
            &:hover
                background-color oscuro
    .btn-down
        color: white
        margin: 5px
        background-color cafe
/****Rentabilidad****/
#monitoreo_reta
    #head_collapse
        background-color rojo
        color: white
        a
            font-weight: 500
    .botonera
        a
            background-color: rojo
            border-color: rojo
            margin 5px 0px
            font-size: 16px
            &:hover
                background-color oscuro
    .btn-down
        color: white
        margin: 5px
        background-color rojo
//Collapse
#head_collapse
    .btn-link
        display block

.list-group-flush
    border-left: 1px solid rgba(0,0,0,.125)
    border-right: 1px solid rgba(0,0,0,.125)
    &:last-child
        border-bottom: 1px solid rgba(0,0,0,.125)
    .list-group-item
        font-weight: 600
//Graficos
.highcharts-container .highcharts-title tspan
    font-family titulo_font
//logos
.footer
    padding: 10px 0
.v-center
    height: 75px;
    line-height: 75px;
    text-align: center;
    .v-center span
        display: inline-block;
        vertical-align: middle;
        line-height: normal;

.owl-carousel .owl-item img
    width: auto;
    max-width: 100%;
    max-height: 60px;
.logo-list
    min-height: 80px
    max-height: 80px

@media (max-width: 991px)
    #topnav 
        .navigation-menu > li > a
            color: #313a46
        .topbar-main .logo img
            width: 150px
            height auto
@media (max-width: 480px)
    #topnav 
        .topbar-main .logo img
            width: 45px
            height auto