.ih-item.square {
position: relative;
width: 100%;
height: auto;
border: 0px solid #fff;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.ih-item.square.effect4 .mask1{
   top: -60px;

}

.ih-item.square.effect4 .mask2{
   bottom: -60px;
}

.ih-item.square.effect4 .mask1, .ih-item.square.effect4 .mask2 {
    height: 561px;
    width: 561px;

}

.ih-item.square.effect4 a:hover .info {
    width: 100%;
    height: 100%;

}

