{% extends "base.html" %}

{% block title %}Colabora - {{ block.super }}{% endblock %}

{% block content %}

            <div class="container-fluid">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="btn-group float-right">
                                <ol class="breadcrumb hide-phone p-0 m-0">
                                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                    <li class="breadcrumb-item active">Enviar Correo </li>
                                </ol>
                            </div>
                            <h4 class="page-title">Enviar Correo</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title end breadcrumb -->
</div>

<div class="row">
    <!-- Right Sidebar -->
     <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card-box">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
                <h5>Si desea colaborar envienos un correo</h5>
            <form role="form" action="" method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Nombre</label>
                            <div class="col-10">
                                 {{form.nombre}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Correo</label>
                            <div class="col-10">
                                 {{form.correo}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Asunto</label>
                            <div class="col-10">
                                {{form.asunto}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Mensaje</label>
                            <div class="col-10">
                                {{form.mensaje}}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary text-center">Enviar Mensaje</button>
                    </form>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>

{% endblock %}
