{% extends "base.html" %}

{% load static %}

{% block content %}
<style>
    #map_canvas {
        height: 700px;
        margin: 0 auto;
    }
    #map_canvas img,.google-maps img{max-width:none;}
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group float-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item">
                        <a href="/">Inicio</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/">Linea base</a>
                    </li>
                </ol>
            </div>
            <h4 class="page-title">LINEA BASE FINCAS DE CACAO</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="header-title mb-4">Datos Generales</h4>
            <div class="row">
            <div class="col-sm-6 col-lg-6 col-xl-3">
                <div class="card-box mb-0 widget-chart-two">
                    <div class="float-right">
                        <div><img src="{% static 'images/familia.png' %}" style="display:inline;width:80px;height:80px;"></div>
                    </div>
                    <div class="widget-chart-two-content">
                        <p class="text-muted mb-0 mt-2">Familias</p>
                        <h3 class="">{{familias}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 col-xl-3">
                <div class="card-box mb-0 widget-chart-two">
                    <div class="float-right">
                        <div><img src="{% static 'images/org.png' %}" style="display:inline;width:80px;height:80px;"></div>
                    </div>
                    <div class="widget-chart-two-content">
                        <p class="text-muted mb-0 mt-2">Organizaciones</p>
                        <h3 class="">{{organizacion}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 col-xl-3">
                <div class="card-box mb-0 widget-chart-two">
                    <div class="float-right">
                        <div><img src="{% static 'images/mujeres.png' %}" style="display:inline;width:80px;height:80px;"></div>
                    </div>
                    <div class="widget-chart-two-content">
                        <p class="text-muted mb-0 mt-2">Mujeres</p>
                        <h3 class="">{{mujeres}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 col-xl-3">
                <div class="card-box mb-0 widget-chart-two">
                    <div class="float-right">
                        <div><img src="{% static 'images/varones.png' %}" style="display:inline;width:80px;height:80px;"></div>
                    </div>
                    <div class="widget-chart-two-content">
                        <p class="text-muted mb-0 mt-2">Hombres</p>
                        <h3 class="">{{hombres}}</h3>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="card-box mb-0 widget-chart-two">
            <h4 class="mb-3 header-title">Mapa Productores <div class="float-right">
            <a class="btn btn-primary waves-light waves-effect" href="{% url 'linea-consulta' %}">Explorar los datos ahora</a></div></h4>

            <div id="map_canvas" class="gmaps"></div>
        </div>

    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="http://maps.google.com/maps/api/js?key=AIzaSyCtSAR45TFgZjOs4nBFFZnII-6mMHLfSYI"></script>
<script type="text/javascript" src="{% static 'js/markerclusterer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/infobox.js' %}"></script>
<script type="text/javascript">
    var map;
    var markers = [];
    $(document).ready(function () {
        var infowindow = new google.maps.InfoWindow();
        var myLatlng = new google.maps.LatLng(14.1648062,-87.4851533);
        var myOptions = {
            zoom: 8,
            mapTypeControl: true,
            scaleControl: false,
            scrollwheel: false,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var image = new google.maps.MarkerImage('{% static "images/4.png" %}',
        new google.maps.Size(32, 32),
        new google.maps.Point(0,0),
        new google.maps.Point(0, 32));
            $.getJSON("{% url 'obtener-lista-mapa-cacao' %}", function(data){
                $.each(data, function(i, elemento){
                    var latlng = new google.maps.LatLng(elemento.lat, elemento.lon);
                    var marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                        title: elemento.nombre,
                        icon: image,
                        item: '',
                        id: elemento.id
                    });
                    markers.push(marker);
                });
                var markerCluster = new MarkerClusterer(map, markers);
            });

    });

</script>
{% endblock extra_js %}
