<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CCI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Sistema cacao climaticamente inteligente" name="description" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        {% comment %} <link rel="apple-touch-icon" sizes="152x152" href="static/images/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'images/android-chrome-192x192.png' %}" sizes="192x192">
        <link rel="icon" type="image/png" href="{% static 'images/favicon-96x96.png' %}" sizes="96x96"> {% endcomment %}
        <link rel="shortcut icon" href="{% static 'images/logo-01.png' %}">

        <link href="{% static 'plugins/bootstrap-select/css/bootstrap-select.min.css' %}" rel="stylesheet" />
        <link href="{% static 'plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- App css -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/custom_linea_base.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}"/>
        {% block extra_css %}{% endblock extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/new-change.css' %}"/>

        <script src="{% static 'js/modernizr.min.js' %}"></script>

    </head>

    <body>

        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo container-->
                    <div class="logo">
                        <!-- Image Logo -->
                        <a href="/" class="logo">
                            <img src="/static/images/logo-01.png" alt="logo" height="46" class="logo-small">
                            <img src="/static/images/logo-02.png" alt="logo" height="65" class="logo-large">
                        </a>

                    </div>
                    <!-- End Logo container-->


                    <div class="menu-extras topbar-custom">

                        <ul class="list-unstyled topbar-right-menu float-right mb-0">

                            <li class="menu-item">
                                <!-- Mobile menu toggle-->
                                <a class="navbar-toggle nav-link">
                                    <div class="lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <!-- End mobile menu toggle-->
                            </li>

                            <li class="dropdown notification-list">

                                {% if  request.user.is_authenticated %}
                                <a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <img src="{% static 'images/users/avatar-1.jpg' %}" alt="user" class="rounded-circle"> <span class="ml-1 pro-user-name"> {% if  request.user.is_authenticated %}{{request.user}}{% else%}No esta logueado{% endif %} <i class="mdi mdi-chevron-down"></i> </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                                        <!-- item-->
                                        <div class="dropdown-item noti-title">
                                            <h6 class="text-overflow m-0">Bienvenido !</h6>
                                        </div>

                                        <!-- item-->
                                        <a href="/admin" class="dropdown-item notify-item">
                                            <i class="fi-head"></i> <span>Ir Administración</span>
                                        </a>

                                        <!-- item-->
                                        <a href="{% url 'logout' %}" class="dropdown-item notify-item">
                                            <i class="fi-power"></i> <span>Cerrar Sesión</span>
                                        </a>

                                </div>
                                {% endif %}
                                {% if  not request.user.is_authenticated %}
                                <a class="nav-link dropdown-toggle waves-effect nav-user" href="{% url 'login' %} ">
                                    <img src="{% static 'images/users/avatar-1.jpg' %}" alt="user" class="rounded-circle">
                                    <span class="ml-1 pro-user-name">
                                        Ingresar
                                    </span>
                                </a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <!-- end menu-extras -->

                    <div class="clearfix"></div>

                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->

            <div class="navbar-custom">
                <div class="container-fluid">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">

                            <li class="has-submenu">
                                <a href="/"><i class="icon-home"></i>Inicio</a>
                            </li>

                            <li class="has-submenu">
                                <a href="#"><i class="fa fa-navicon"></i>Herramientas</a>
                                <ul class="submenu">
                                    <li><a href="/linea-base/consultar/">Estados de las fincas</a></li>
                                    <li><a href="/linea-base/consultar-establecimiento/">Establecimientos</a></li>
                                    <li><a href="/transformacion/consultar-transformacion/">SAF Transformación</a></li>
                                    <li><a href="/rentabilidad/consultar-rentabilidad/">Rentabilidad Agroforestal</a></li>
                                    <li><a href="https://practicascci.alianza-cac.net" target="_blank">Aptitud, Gradiente y practicas</a></li>
                                </ul>
                            </li>
                             <li class="has-submenu">
                                <a href="/linea-base/mapa-datos/"><i class="icon-location-pin"></i>Fuente de información</a>
                            </li>
                             <li class="has-submenu">
                                <a href="/linea-base/fichas/"><i class="icon-docs"></i>Documentos</a>
                            </li>
                             <li class="has-submenu">
                                <a href="/linea-base/videos-tutoriales/"><i class="icon-social-youtube"></i>Videos Tutoriales</a>
                            </li>
                            <li class="has-submenu">
                                <a href="/linea-base/contactenos/"><i class="icon-envelope-letter"></i>Contactenos</a>
                            </li>
                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->


        <div class="wrapper">


                {% block content %}{% endblock%}


        </div>
        <!-- end wrapper -->

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 text-center">
                            <div class="p-2 bd-highlight">
                                <span id="year">2018</span> © Realizado con <a href="https://www.djangoproject.com/">Django</a>
                            </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

        <!-- jQuery  -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/waves.js' %}"></script>
        <script src="{% static 'js/jquery.slimscroll.js' %}"></script>

        <script src="{% static 'plugins/select2/js/select2.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js' %}" type="text/javascript"></script>

        <!-- Flot chart -->

        <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>

        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="../plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="{% static 'plugins/jquery-knob/jquery.knob.js' %}"></script>

        <!-- Dashboard Init -->


        <!-- App js -->
        <script src="{% static 'js/jquery.core.js' %}"></script>
        <script src="{% static 'js/jquery.app.js' %}"></script>
        <script type="text/javascript">
            document.getElementById("year").innerHTML = new Date().getFullYear();
            var ficha = window.location.pathname.split('/');
            console.log(ficha);
            //$('.collapse').collapse();
            if (ficha[2]=="sombra") {
                $('#collapseOne').collapse('show');
                $('#collapsePiso').collapse('hide');
                $('#collapsePoda').collapse('hide');
                $('#collapsePlaga').collapse('hide');
                $('#collapseSuelo').collapse('hide');
                $('#collapseSistema').collapse('hide');
                $('#collapseEstados').collapse('hide');
                $('#collapseCosto').collapse('hide');
                $('#collapseCierre').collapse('hide');
                $('#collapseEstablecimiento').collapse('hide');
                $('#collapseCosechaPrimaria').collapse('hide');
                $('#collapseCosechaSecundaria').collapse('hide');
            }else if (ficha[2]=="piso"){
                $('#collapseOne').collapse('hide');
                $('#collapsePiso').collapse('show');
                $('#collapsePoda').collapse('hide');
                $('#collapsePlaga').collapse('hide');
                $('#collapseSuelo').collapse('hide');
                $('#collapseSistema').collapse('hide');
                $('#collapseEstados').collapse('hide');
                $('#collapseCosto').collapse('hide');
                $('#collapseCierre').collapse('hide');
                $('#collapseEstablecimiento').collapse('hide');
                $('#collapseCosechaPrimaria').collapse('hide');
                $('#collapseCosechaSecundaria').collapse('hide');
            }else if (ficha[2]=="suelo"){
                $('#collapseOne').collapse('hide');
                $('#collapsePiso').collapse('hide');
                $('#collapseSuelo').collapse('show');
                $('#collapsePoda').collapse('hide');
                $('#collapsePlaga').collapse('hide');
                $('#collapseSistema').collapse('hide');
                $('#collapseEstados').collapse('hide');
                $('#collapseCosto').collapse('hide');
                $('#collapseCierre').collapse('hide');
                $('#collapseEstablecimiento').collapse('hide');
                $('#collapseCosechaPrimaria').collapse('hide');
                $('#collapseCosechaSecundaria').collapse('hide');
            }else if (ficha[2]=="sistema"){
                $('#collapseOne').collapse('hide');
                $('#collapsePiso').collapse('hide');
                $('#collapsePoda').collapse('hide');
                $('#collapsePlaga').collapse('hide');
                $('#collapseSuelo').collapse('hide');
                $('#collapseSistema').collapse('show');
                $('#collapseEstados').collapse('hide');
                $('#collapseCosto').collapse('hide');
                $('#collapseCierre').collapse('hide');
                $('#collapseEstablecimiento').collapse('hide');
                $('#collapseCosechaPrimaria').collapse('hide');
                $('#collapseCosechaSecundaria').collapse('hide');
            }else if (ficha[2]=="poda"){
                $('#collapseOne').collapse('hide');
                $('#collapsePiso').collapse('hide');
                $('#collapsePoda').collapse('show');
                $('#collapsePlaga').collapse('hide');
                $('#collapseSuelo').collapse('hide');
                $('#collapseSistema').collapse('hide');
                $('#collapseEstados').collapse('hide');
                $('#collapseCosto').collapse('hide');
                $('#collapseCierre').collapse('hide');
                $('#collapseEstablecimiento').collapse('hide');
                $('#collapseCosechaPrimaria').collapse('hide');
                $('#collapseCosechaSecundaria').collapse('hide');
            }else if (ficha[2]=="estado"){
                $('#collapseOne').collapse('hide');
                $('#collapsePiso').collapse('hide');
                $('#collapsePoda').collapse('hide');
                $('#collapsePlaga').collapse('hide');
                $('#collapseSuelo').collapse('hide');
                $('#collapseSistema').collapse('hide');
                $('#collapseEstados').collapse('show');
                $('#collapseCosto').collapse('hide');
                $('#collapseCierre').collapse('hide');
                $('#collapseEstablecimiento').collapse('hide');
                $('#collapseCosechaPrimaria').collapse('hide');
                $('#collapseCosechaSecundaria').collapse('hide');
            }else if (ficha[2]=="costo"){
                $('#collapseOne').collapse('hide');
                $('#collapsePiso').collapse('hide');
                $('#collapsePoda').collapse('hide');
                $('#collapsePlaga').collapse('hide');
                $('#collapseSuelo').collapse('hide');
                $('#collapseSistema').collapse('hide');
                $('#collapseEstados').collapse('hide');
                $('#collapseCosto').collapse('show');
                $('#collapseCierre').collapse('hide');
                $('#collapseEstablecimiento').collapse('hide');
                $('#collapseCosechaPrimaria').collapse('hide');
                $('#collapseCosechaSecundaria').collapse('hide');
            }else if (ficha[2]=="esta"){
                $('#collapseOne').collapse('hide');
                $('#collapsePiso').collapse('hide');
                $('#collapsePoda').collapse('hide');
                $('#collapsePlaga').collapse('hide');
                $('#collapseSuelo').collapse('hide');
                $('#collapseSistema').collapse('hide');
                $('#collapseEstados').collapse('hide');
                $('#collapseCosto').collapse('hide');
                $('#collapseCierre').collapse('hide');
                $('#collapseEstablecimiento').collapse('show');
                $('#collapseCosechaPrimaria').collapse('hide');
                $('#collapseCosechaSecundaria').collapse('hide');
            }else if (ficha[2]=="plaga"){
                $('#collapseOne').collapse('hide');
                $('#collapsePiso').collapse('hide');
                $('#collapsePoda').collapse('hide');
                $('#collapsePlaga').collapse('hide');
                $('#collapseSuelo').collapse('hide');
                $('#collapseSistema').collapse('hide');
                $('#collapseEstados').collapse('hide');
                $('#collapseCosto').collapse('hide');
                $('#collapseCierre').collapse('hide');
                $('#collapsePlaga').collapse('show');
                $('#collapseCosechaPrimaria').collapse('hide');
                $('#collapseCosechaSecundaria').collapse('hide');
            }else if (ficha[2]=="cierre"){
                $('#collapseOne').collapse('hide');
                $('#collapsePiso').collapse('hide');
                $('#collapsePoda').collapse('hide');
                $('#collapsePlaga').collapse('hide');
                $('#collapseSuelo').collapse('hide');
                $('#collapseSistema').collapse('hide');
                $('#collapseEstados').collapse('hide');
                $('#collapseCosto').collapse('hide');
                $('#collapsePlaga').collapse('hide');
                $('#collapseCierre').collapse('show');
                $('#collapseCosechaPrimaria').collapse('hide');
                $('#collapseCosechaSecundaria').collapse('hide');
            }else if (ficha[2]=="cosecha"){
                $('#collapseOne').collapse('hide');
                $('#collapsePiso').collapse('hide');
                $('#collapsePoda').collapse('hide');
                $('#collapsePlaga').collapse('hide');
                $('#collapseSuelo').collapse('hide');
                $('#collapseSistema').collapse('hide');
                $('#collapseEstados').collapse('hide');
                $('#collapseCosto').collapse('hide');
                $('#collapsePlaga').collapse('hide');
                $('#collapseCierre').collapse('hide');
                $('#collapseCosechaPrimaria').collapse('show');
                $('#collapseCosechaSecundaria').collapse('hide');
            }
            else if (ficha[2]=="cosechasecundaria"){
                $('#collapseOne').collapse('hide');
                $('#collapsePiso').collapse('hide');
                $('#collapsePoda').collapse('hide');
                $('#collapsePlaga').collapse('hide');
                $('#collapseSuelo').collapse('hide');
                $('#collapseSistema').collapse('hide');
                $('#collapseEstados').collapse('hide');
                $('#collapseCosto').collapse('hide');
                $('#collapsePlaga').collapse('hide');
                $('#collapseCierre').collapse('hide');
                $('#collapseCosechaPrimaria').collapse('hide');
                $('#collapseCosechaSecundaria').collapse('show');
            }

        </script>
        {% block extra_js %}{% endblock extra_js %}
    </body>
</html>
