{% extends "base.html" %}

{% load static %}

{% block extra_js %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>

<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}" />
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}" />
<script src="{% static 'js/leaflet.markercluster-src.js' %}"></script>

<script type="text/javascript">
    // position we will use later
    var lat = 15.306036;
    var lon = -79.647478;
    var greenIcon = L.icon({
        iconUrl: '/static/img/maps/green1.png',
        shadowUrl: '/static/img/maps/green1.png',

        iconSize:     [38, 95], // size of the icon
        shadowSize:   [50, 64], // size of the shadow
        iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
        shadowAnchor: [4, 62],  // the same for the shadow
        popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });
    // initialize map
    map = L.map('mapDiv', {scrollWheelZoom:false, icon: greenIcon,}).setView([lat, lon], 5);
    // set map tiles source
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
      maxZoom: 18,
      icon: greenIcon,
    }).addTo(map);
    var markers = L.markerClusterGroup({ animateAddingMarkers : true });
    var markersList = [];
    // add marker to the map
    $.getJSON("{% url 'obtener-lista-mapa-cacao' %}", function(data){
        $.each(data, function(i, elemento){
            //marker = L.marker([elemento.lat, elemento.lon]).addTo(map);
            var marker = L.marker([elemento.lat, elemento.lon])
            var contenido = 'Nombre: '+elemento.nombre+'<br>'+'Altitud: '+elemento.altitud+'<br>'+
            'Proyectos que participa: '+elemento.proyecto+'<br>'+'Organizacion apoyo: '+elemento.org_apoyo+'<br>'
            marker.bindPopup(contenido);

            markersList.push(marker);
            markers.addLayer(marker);
        });

    });
    map.addLayer(markers);

  </script>

{% endblock extra_js %}

{% block content %}
<div class="card-box widget-chart-two white-transparent">
            <div class="row mb-20">
                <div class="col-xl-12">
                  <h4 class="mb-3 ">Mapa <a href="#"></a></h4>
                  <div id="mapDiv" style="width: 100%; height: 500px"></div>
                </div>
            </div>
    </div> <!-- end container -->
{% endblock content %}
