{% extends "base.html" %}

{% load solo_tags %}

{% block extra_js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable({
        responsive: true,
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por pagina",
            "zeroRecords": "No se encontro nada",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros en total)",
            "sSearch": "Buscar:",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
        },
        "pageLength": 25
    });
} );
</script>


{% endblock extra_js %}

{% block content %}
{% get_solo 'configuracion.SiteConfiguration' as my_config %}
    <div class="fondoindex">
    <div class="container-fluid pt-80 pb-30">

        <div class="card-box widget-chart-two white-transparent">
            <div class="row">

                <div class="col-xl-12">
                  <h4 class="mb-3 ">Videos tutoriales <a href="#"></a></h4>
                    <table id="example" class="display responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>URL videos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in my_config.videostutoriales_set.all %}
                            <tr>
                                <td>{{obj.nombre}}</td>
                                <td><a target="_blank" href="{{obj.url_video}}">Ver Video Tutorial</a></td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
                </div>


            </div>
        </div>
    </div> <!-- end container -->
</div>
{% endblock content %}
