{% extends "base.html" %}

{% load tools static %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>

<script type="text/javascript">
$("#collapsesistema").addClass('show');
$(".item14").addClass('active');
{% for value in years.values %}
$(function () {
    // Create the chart
    $('#grafo1-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Distribución de frecuencia'
        },
        subtitle: {
            text: 'Rangos de parcelas'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: 'Rangos',
            colorByPoint: true,
            data: [
              {% for k,v in value.1.items %}
                {
                    name: '{{k}}',
                    y: {{v}},
                },
              {% endfor %}

            ]
        }]
    });
});
{% endfor %}
</script>

{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="monitoreo_estable">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box mb-10">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Establecimiento</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Sistema</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Composición de parcelas</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_establecimiento.html" %}

        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-inline mb-20">
                                <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{value.0}}</kbd></li>
                            </ul>
                            <div class="card-box">
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Clon/variedad</th>
                                                    <th>Número de parcelas donde fue sembrados</th>
                                                    <th>% de las parcelas donde fue sembrados</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k, v in value.2.items %}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.0|floatformat:2}}</td>
                                                        <td>{{v.1|floatformat:2}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                <h4 class="header-title mb-20">Composición parcelas MUSACEAS</h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Clon/variedad</th>
                                                    <th>Número de parcelas donde fue sembrados</th>
                                                    <th>% de las parcelas donde fue sembrados</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k,v  in value.3.items %}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.0|floatformat:2}}</td>
                                                        <td>{{v.1|floatformat:2}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                <h4 class="header-title mb-20">Composición parcelas FRUTALES</h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Especies</th>
                                                    <th>Número de parcelas donde fue sembrados</th>
                                                    <th>% de las parcelas donde fue sembrados</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k,v  in value.4.items %}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.0|floatformat:2}}</td>
                                                        <td>{{v.1|floatformat:2}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                <h4 class="header-title mb-20">Composición parcelas MADERABLES</h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Especies</th>
                                                    <th>Número de parcelas donde fue sembrados</th>
                                                    <th>% de las parcelas donde fue sembrados</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k,v  in value.5.items %}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.0|floatformat:2}}</td>
                                                        <td>{{v.1|floatformat:2}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                <h4 class="header-title mb-20">Composición parcelas ARBOLES DE SERVICIOS</h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Clon/variedad</th>
                                                    <th>Número de parcelas donde fue sembrados</th>
                                                    <th>% de las parcelas donde fue sembrados</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k, v in value.6.items %}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.0|floatformat:2}}</td>
                                                        <td>{{v.1|floatformat:2}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                <h4 class="header-title mb-20">Densidad de las plantas</h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Cultivo</th>
                                                    <th>Área total de las parcelas (ha)</th>
                                                    <th>Suma total de las cantidades de plantas sembradas en las parcelas</th>
                                                    <th>Promedio número de plantas por ha </th>
                                                    <th>Promedio altura de las plantas en momento de siembra (mt)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Cacao</td>
                                                    <td>{{value.7|floatformat:2}}</td>
                                                    <td>{{value.8.total|floatformat:2}}</td>
                                                    <td>{{value.8.total|calcular_promedio:value.7}}</td>
                                                    <td>{{value.8.promedio|floatformat:2}}</td>
                                                </tr>
                                                    <tr>
                                                    <td>Musaceas</td>
                                                    <td>{{value.7|floatformat:2}}</td>
                                                    <td>{{value.9.total|floatformat:2}}</td>
                                                    <td>{{value.9.total|calcular_promedio:value.7}}</td>
                                                    <td>{{value.9.promedio|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Frutales</td>
                                                    <td>{{value.7|floatformat:2}}</td>
                                                    <td>{{value.10.total|floatformat:2}}</td>
                                                    <td>{{value.10.total|calcular_promedio:value.7}}</td>
                                                    <td>{{value.10.promedio|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Maderables</td>
                                                    <td>{{value.7|floatformat:2}}</td>
                                                    <td>{{value.11.total|floatformat:2}}</td>
                                                    <td>{{value.11.total|calcular_promedio:value.7}}</td>
                                                    <td>{{value.11.promedio|floatformat:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Árboles de servicios</td>
                                                    <td>{{value.7|floatformat:2}}</td>
                                                    <td>{{value.12.total|floatformat:2}}</td>
                                                    <td>{{value.12.total|calcular_promedio:value.7}}</td>
                                                    <td>{{value.12.promedio|floatformat:2}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                <h4 class="header-title mb-20"></h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Cultivo</th>
                                                    <th>Promedio distancia entre surcos (mts)</th>
                                                    <th>Promedio distancia entre plantas (mts)</th>
                                                    <th>% de parcelas con siembra en tres bolillos</th>
                                                    <th>% de parcelas con siembra en cuadrado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Cacao</td>
                                                    <td>{{value.13.surco|floatformat:2}}</td>
                                                    <td>{{value.13.distancia|floatformat:2}}</td>
                                                    <td>{{value.14|calcular_frecuencia:value.0}}</td>
                                                    <td>{{value.15|calcular_frecuencia:value.0}}</td>
                                                </tr>
                                                    <tr>
                                                    <td>Musaceas</td>
                                                    <td>{{value.16.surco|floatformat:2}}</td>
                                                    <td>{{value.16.distancia|floatformat:2}}</td>
                                                    <td>{{value.17|calcular_frecuencia:value.0}}</td>
                                                    <td>{{value.18|calcular_frecuencia:value.0}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Frutales</td>
                                                    <td>{{value.19.surco|floatformat:2}}</td>
                                                    <td>{{value.19.distancia|floatformat:2}}</td>
                                                    <td>{{value.20|calcular_frecuencia:value.0}}</td>
                                                    <td>{{value.21|calcular_frecuencia:value.0}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Maderables</td>
                                                    <td>{{value.22.surco|floatformat:2}}</td>
                                                    <td>{{value.22.distancia|floatformat:2}}</td>
                                                    <td>{{value.23|calcular_frecuencia:value.0}}</td>
                                                    <td>{{value.24|calcular_frecuencia:value.0}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Árboles de servicios</td>
                                                    <td>{{value.25.surco|floatformat:2}}</td>
                                                    <td>{{value.25.distancia|floatformat:2}}</td>
                                                    <td>{{value.26|calcular_frecuencia:value.0}}</td>
                                                    <td>{{value.27|calcular_frecuencia:value.0}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
        </div>


    </div>
</div>

{% endblock content %}
