{% extends "base.html" %}

{% load tools static %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>

<script type="text/javascript">
$("#collapsesistema").addClass('show');
$(".item15").addClass('active');
$(function () {
    // Create the chart
    $('#grafo1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Distribución de frecuencia'
        },
        subtitle: {
            text: 'Rangos de parcelas'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: 'Rangos',
            colorByPoint: true,
            data: [
              {% for k,v in grafo_parcela.items %}
                {
                    name: '{{k}}',
                    y: {{v}},
                },
              {% endfor %}

            ]
        }]
    });
});
</script>

{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="monitoreo_estable">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box mb-10">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Establecimiento</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Sistema</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Características  de hoyos</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_establecimiento.html" %}

        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-inline mb-20">
                                <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{value.0}}</kbd></li>
                            </ul>
                            <div class="card-box">
                                
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Tipo de plantas</th>
                                                    <th>Promedio de largo en cm</th>
                                                    <th>Mediana de largo en cm</th>
                                                    <th>Promedio de ancho en cm</th>
                                                    <th>Mediana de ancho en cm</th>
                                                    <th>Promedio de profundidad en cm</th>
                                                    <th>Mediana de profundidad en cm</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                        <td>Cacao</td>
                                                        <td>{{value.1|floatformat:2}}</td>
                                                        <td>{{value.2|floatformat:2}}</td>
                                                        <td>{{value.3|floatformat:2}}</td>
                                                        <td>{{value.4|floatformat:2}}</td>
                                                        <td>{{value.5|floatformat:2}}</td>
                                                        <td>{{value.6|floatformat:2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Musaceas</td>
                                                        <td>{{value.7|floatformat:2}}</td>
                                                        <td>{{value.8|floatformat:2}}</td>
                                                        <td>{{value.9|floatformat:2}}</td>
                                                        <td>{{value.10|floatformat:2}}</td>
                                                        <td>{{value.11|floatformat:2}}</td>
                                                        <td>{{value.12|floatformat:2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Frutales</td>
                                                        <td>{{value.13|floatformat:2}}</td>
                                                        <td>{{value.14|floatformat:2}}</td>
                                                        <td>{{value.15|floatformat:2}}</td>
                                                        <td>{{value.16|floatformat:2}}</td>
                                                        <td>{{value.17|floatformat:2}}</td>
                                                        <td>{{value.18|floatformat:2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Maderables</td>
                                                        <td>{{value.19|floatformat:2}}</td>
                                                        <td>{{value.20|floatformat:2}}</td>
                                                        <td>{{value.21|floatformat:2}}</td>
                                                        <td>{{value.22|floatformat:2}}</td>
                                                        <td>{{value.23|floatformat:2}}</td>
                                                        <td>{{value.24|floatformat:2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Árboles de servicios</td>
                                                        <td>{{value.25|floatformat:2}}</td>
                                                        <td>{{value.26|floatformat:2}}</td>
                                                        <td>{{value.27|floatformat:2}}</td>
                                                        <td>{{value.28|floatformat:2}}</td>
                                                        <td>{{value.29|floatformat:2}}</td>
                                                        <td>{{value.30|floatformat:2}}</td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card-box mb-20">
                                <h4 class="header-title mb-20">Uso de abono en siembra</h4>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Tipo de planta</th>
                                                    <th>% usando abono (Si)</th>
                                                    <th>% usando Compost</th>
                                                    <th>% usando Bocacho</th>
                                                    <th>% usando Químico</th>
                                                    <th>% usando Cal</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k,v in  value.31.items %}
                                                        <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.0|calcular_frecuencia:value.0}}</td>
                                                        <td>{{v.1|calcular_frecuencia:value.0}}</td>
                                                        <td>{{v.2|calcular_frecuencia:value.0}}</td>
                                                        <td>{{v.3|calcular_frecuencia:value.0}}</td>
                                                        <td>{{v.4|calcular_frecuencia:value.0}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
        </div>
    </div>
</div>


{% endblock content %}
