{% extends "base.html" %}

{% load tools static %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
<script type="text/javascript">
$("#collapsesuelo").addClass('show');
$(".item37").addClass('active');
{% for value in years.values %}
$(function () {
$('#grafo1-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Acciones potenciales'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (conteo)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in value.1.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Build the chart
    $('#grafo2-{{forloop.counter}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Donde'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in value.2.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});

$(function () {
$('#grafo3-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Acciones potenciales'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (conteo)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in value.3.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Build the chart
    $('#grafo4-{{forloop.counter}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Donde'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in value.4.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});

$(function () {
$('#grafo5-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Acciones potenciales'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (conteo)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in value.5.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0}},
                },
            {% endfor %}

            ]
        }]
    });
});
$(function () {
    // Build the chart
    $('#grafo6-{{forloop.counter}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Donde'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in value.6.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});

$(function () {
$('#grafo7-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Acciones potenciales'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (conteo)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in value.7.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0}},
                },
            {% endfor %}

            ]
        }]
    });
});
$(function () {
    // Build the chart
    $('#grafo8-{{forloop.counter}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Donde'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in value.8.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});

$(function () {
$('#grafo9-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Acciones potenciales'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (conteo)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in value.9.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0}},
                },
            {% endfor %}

            ]
        }]
    });
});
$(function () {
    // Build the chart
    $('#grafo10-{{forloop.counter}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Donde'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in value.10.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});

$(function () {
$('#grafo11-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Acciones potenciales'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (conteo)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in value.11.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0}},
                },
            {% endfor %}

            ]
        }]
    });
});
$(function () {
    // Build the chart
    $('#grafo12-{{forloop.counter}}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Donde'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in value.12.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});
{% endfor %}
</script>
{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="monitoreo_trans">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'consulta-tranformacion' %}">Transformación</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Suelo</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Toma de decisión</h4>
                 
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "transformacion/menu_salidas.html" %}

        </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-inline mb-20">
                                <li class="list-inline-item"><strong>Número de parcelas: </strong> <kbd>{{value.0}}</kbd></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <div class="card-box">
                                <div id="grafo1-{{forloop.counter}}"></div>                         
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-box">
                                <div id="grafo2-{{forloop.counter}}"></div>                         
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-box">
                                <div id="grafo3-{{forloop.counter}}"></div>                         
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-box">
                                <div id="grafo4-{{forloop.counter}}"></div>                         
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-box">
                                <div id="grafo5-{{forloop.counter}}"></div>                         
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-box">
                                <div id="grafo6-{{forloop.counter}}"></div>                         
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-box">
                                <div id="grafo7-{{forloop.counter}}"></div>                         
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-box">
                                <div id="grafo8-{{forloop.counter}}"></div>                         
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-box">
                                <div id="grafo9-{{forloop.counter}}"></div>                         
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-box">
                                <div id="grafo10-{{forloop.counter}}"></div>                         
                            </div>
                        </div>           
                        <div class="col-6">
                            <div class="card-box">
                                <div id="grafo11-{{forloop.counter}}"></div>                         
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-box">
                                <div id="grafo12-{{forloop.counter}}"></div>                         
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            

        </div>
    </div>
</div>

{% endblock content %}
