{% extends "base.html" %}

{% load tools static %}

{% block extra_js %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
<script type="text/javascript">
$("#collapseestado").addClass('show');
$(".item24").addClass('active');
{% for value in years.values %}
$(function () {
    // Create the chart
    $('#grafo1-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Problema CACA0'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (conteo)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in value.0.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo2-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Problemas MUSACEAS'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (conteo)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in value.1.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo3-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Problemas FRUTALES'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (conteo)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in value.2.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo4-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Problemas MADERABLES'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (conteo)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in value.3.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo5-{{forloop.counter}}').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Problemas ARBOLES DE SERVICIOS'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (conteo)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in value.4.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0}},
                },
            {% endfor %}

            ]
        }]
    });
});

{% endfor %}
//ahora los de mes 9

$(function () {
    // Create the chart
    $('#grafo1-9').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Problema CACA0'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (conteo)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in grafo_cacao_mes9.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo2-9').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Problemas MUSACEAS'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (conteo)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in grafo_musaceas_mes9.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo3-9').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Problemas FRUTALES'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (conteo)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in grafo_frutales_mes9.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo4-9').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Problemas MADERABLES'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (conteo)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in grafo_maderables_mes9.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo5-9').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Problemas ARBOLES DE SERVICIOS'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (conteo)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in grafo_arboles_servicios_mes9.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0}},
                },
            {% endfor %}

            ]
        }]
    });
});

</script>
{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="monitoreo_estable">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Establecimiento</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Estado de plantas</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Problemas principales del momento</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_establecimiento.html" %}

        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <h4 class="header-title mb-20">Problemas Mes 6</h4>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card-box mb-20">
                                            <div id="grafo1-{{forloop.counter}}" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card-box mb-20">
                                            <div id="grafo2-{{forloop.counter}}" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card-box mb-20">
                                            <div id="grafo3-{{forloop.counter}}" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card-box mb-20">
                                            <div id="grafo4-{{forloop.counter}}" width='100%'></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card-box mb-20">
                                            <div id="grafo5-{{forloop.counter}}" width='100%'></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            <!-- <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-20">Problemas Mes 9</h4>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card-box mb-20">
                                    <div id="grafo1-9" width='100%'></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card-box mb-20">
                                    <div id="grafo2-9" width='100%'></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card-box mb-20">
                                    <div id="grafo3-9" width='100%'></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card-box mb-20">
                                    <div id="grafo4-9" width='100%'></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card-box mb-20">
                                    <div id="grafo5-9" width='100%'></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

{% endblock content %}
