{% extends "base.html" %}

{% load tools static %}

{% block extra_js %}
<script type="text/javascript">
$("#collapseestado").addClass('show');
$(".item19").addClass('active');
</script>
{% endblock extra_js %}

{% block content %}
<div class="container-fluid" id="monitoreo_estable">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Establecimiento</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">Estado de plantas</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Estado de las plantas de cacao</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_establecimiento.html" %}

        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{forloop.counter}}" data-toggle="tab" href="#home-{{forloop.counter}}" role="tab" aria-controls="home-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for value in years.values %}
                <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab-{{forloop.counter}}">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-box">
                                <h4 class="header-title mb-20">CACAO Mes 6</h4>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <h3 class="header-title">Estado de plantas CACAO (Mes 6)</h3>
                                        <div class="table-responsive">
                                            <div id="modalidad">
                                                <table id="example" class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Clon/variedad</th>
                                                            <th>Número de plantas observadas</th>
                                                            <th>Promedio altura de las plantas (mt)</th>
                                                            <th>Mediana altura de las plantas (mt)</th>
                                                            <th>Des. Estándar altura de las plantas (mt)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for k, v in value.items %}
                                                            <tr>
                                                                <td>{{k}}</td>
                                                                <td>{{v.0}}</td>
                                                                <td>{{v.1|floatformat:2}}</td>
                                                                <td>{{v.2|floatformat:2}}</td>
                                                                <td>{{v.3|floatformat:2}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <h3 class="header-title">Estado de plantas CACAO (Mes 6)</h3>
                                        <div class="table-responsive">
                                            <div id="modalidad">
                                                <table id="example" class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Clon variedad</th>
                                                            <th>Número de plantas observadas</th>
                                                            <th>% con daño de plagas</th>
                                                            <th>% con daño de enfermedades</th>
                                                            <th>% con deficiencia nutricional</th>
                                                            <th>% con buena Ramificación</th>
                                                            <th>% con floración</th>
                                                            <th>% con fructificación</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for k,v  in value.items %}
                                                            <tr>
                                                                <td>{{k}}</td>
                                                                <td>{{v.0}}</td>
                                                                <td>{{v.4|calcular_frecuencia:v.0}}</td>
                                                                <td>{{v.5|calcular_frecuencia:v.0}}</td>
                                                                <td>{{v.6|calcular_frecuencia:v.0}}</td>
                                                                <td>{{v.7|calcular_frecuencia:v.0}}</td>
                                                                <td>{{v.8|calcular_frecuencia:v.0}}</td>
                                                                <td>{{v.9|calcular_frecuencia:v.0}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            <!--<div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-20">CACAO Mes 9</h4>
                        <div class="row">
                            <div class="col-xl-12">
                                <h3 class="header-title">Estado de plantas CACAO (Mes 9)</h3>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Clon/variedad</th>
                                                    <th>Número de plantas observadas</th>
                                                    <th>Promedio altura de las plantas (mt)</th>
                                                    <th>Mediana altura de las plantas (mt)</th>
                                                    <th>Des. Estándar altura de las plantas (mt)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k,v  in tabla_cacao_mes_9.items %}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.0}}</td>
                                                        <td>{{v.1|floatformat:2}}</td>
                                                        <td>{{v.2|floatformat:2}}</td>
                                                        <td>{{v.3|floatformat:2}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <h3 class="header-title">Estado de plantas CACAO (Mes 9)</h3>
                                <div class="table-responsive">
                                    <div id="modalidad">
                                        <table id="example" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Clon variedad</th>
                                                    <th>Número de plantas observadas</th>
                                                    <th>% con daño de plagas</th>
                                                    <th>% con daño de enfermedades</th>
                                                    <th>% con deficiencia nutricional</th>
                                                    <th>% con buena Ramificación</th>
                                                    <th>% con floración</th>
                                                    <th>% con fructificación</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for k,v  in tabla_cacao_mes_9.items %}
                                                    <tr>
                                                        <td>{{k}}</td>
                                                        <td>{{v.0}}</td>
                                                        <td>{{v.4|calcular_frecuencia:v.0}}</td>
                                                        <td>{{v.5|calcular_frecuencia:v.0}}</td>
                                                        <td>{{v.6|calcular_frecuencia:v.0}}</td>
                                                        <td>{{v.7|calcular_frecuencia:v.0}}</td>
                                                        <td>{{v.8|calcular_frecuencia:v.0}}</td>
                                                        <td>{{v.9|calcular_frecuencia:v.0}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>


{% endblock content %}
