{% extends "base.html" %}

{% load static tools humanize %}

{%block extra_js%}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src = "https://code.highcharts.com/modules/exporting.js"> </script>
<script type="text/javascript">
$("#collapsecomercio").addClass('show');
$(".item19").addClass('active');
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });

{% for k,v in tabla_cadena.items %}
        Highcharts.chart('container-{{k}}', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Opciones de cadena'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Conteo'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y;
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for key,value in v.items %}
                {
                    name: '{{key}}',
                    data: [{{value.0}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + ' ({{value.0|calcular_frecuencia:value.1}} %)';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
{% endfor %}
    </script>
{%endblock%}

{% block content %}
<div class="container-fluid" id="estado_finca">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Linea base</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a class="active">Comercialización</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Comercialización</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_linea_base.html" %}

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Filtros Seleccionado</h4>
                        {% include "herramientaDesicion/filtro-monitoreo.html" %}
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{year}}" data-toggle="tab" href="#home-{{year}}" role="tab" aria-controls="home-{{year}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
                </ul>
                <div class="tab-content" id="myTabContent">
                    {% for year in years %}
                        <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{year}}" role="tabpanel" aria-labelledby="home-tab-{{year}}">
                            {% for k,v in num_familias2.items %}
                                {% if k == year %}
                                    Familias: {{v}}
                                {% endif %}
                            {% endfor %}

                    {% for k in tabla_cadena.keys %}
                        {% if k == year %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="card-box">
                                        <div id="container-{{k}}"></div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for k,v in tabla_comercializacion.items %}
                        {% if k == year %}
                            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">La comercialización</h4>
                        <div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a>{% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/1/"></a>{%endif%} </div>
                        <div class="table-responsive">
                            <div id="modalidad">
                                <table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th colspan="2">Intermediario</th>
                                            <th colspan="2">Cooperativa o asociacion</th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th>Números de familias</th>
                                            <th>Cantidad en qq Total</th>
                                            <th>Cantidad en qq</th>
                                            <th>Precio pagado en USD por qq</th>
                                            <th>Cantidad en qq</th>
                                            <th>Precio pagado en USD por qq</th>
                                            <th>Ingresos en USD</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for key,value in v.items %}
                                        <tr>
                                            <td>{{key}}</td>
                                            <td>{{value.0}}</td>
                                            <td>{{value.1|floatformat:2|default:0}}</td>
                                            <td>{{value.2|floatformat:2|default:0}}</td>
                                            <td>{{value.3|floatformat:2|default:0}}</td>
                                            <td>{{value.4|floatformat:2|default:0}}</td>
                                            <td>{{value.5|floatformat:2|default:0}}</td>
                                            <td>{{value.6|floatformat:2|default:0}}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="7">Ingreso total anual de las familias por venta de cacao en USD el último ciclo</td>
                                        {% for k,v in data.items %}
                                        {% if k == year %}
                                            <td>{{v.0|floatformat:2|intcomma}}</td>
                                        {% endif %}
                                        {%endfor%}
                                    </tr>
                                    <tr>
                                        <td colspan="7">Número total de las familias con cacao en producción</td>
                                        {% for k,v in familias_producen.items %}
                                        {% if k == year %}
                                            <td>{{v}}</td>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                    <tr>
                                        <td colspan="7">Área total de Cacao en producción en último ciclo en ha</td>
                                        {% for k,v in data.items %}
                                        {% if k == year %}
                                            <td>{{v.1|floatformat:2|intcomma}}</td>
                                        {% endif %}
                                        {%endfor%}
                                    </tr>
                                    <tr>
                                        <td colspan="7">Promedio ingreso bruto anual por familia por venta de cacao USD en último ciclo</td>
                                        {% for k,v in data.items %}
                                        {% if k == year %}
                                            <td>{{v.2|floatformat:2|intcomma}}</td>
                                        {% endif %}
                                        {%endfor%}
                                    </tr>
                                    <tr>
                                        <td colspan="7">Promedio Ingreso bruto anual por ha por venta de cacao en USD</td>
                                          {% for k,v in data.items %}
                                        {% if k == year %}
                                            <td>{{v.3|floatformat:2|intcomma}}</td>
                                        {% endif %}
                                        {%endfor%}
                                    </tr>
                                    <tr>
                                        <td colspan="7">Promedio Ingreso neto anual por ha por venta de cacao en USD (40% de ingreso bruto)</td>
                                        {% for k,v in data.items %}
                                        {% if k == year %}
                                            <td>{{v.4|floatformat:2|intcomma}}</td>
                                        {% endif %}
                                        {%endfor%}
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        {% endif %}
                    {% endfor %}



                        </div>
                    {% endfor %}
                </div>

        </div>
    </div>
</div>



{% endblock %}

