{% extends "base.html" %}

{% load static tools %}

{%block extra_js%}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script type="text/javascript">
$("#collapsefamilia").addClass('show');
$(".item2").addClass('active');
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
    </script>

{% for k,v in grafo_educacion.items %}
<script type="text/javascript">
    var chart;
    $(document).ready(function() {
        Highcharts.chart('container-{{k}}',{
            chart: {
                type: 'column'
            },
            title: {
                text: 'Nivel de educación de dueño de la finca'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Conteo'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y;
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for key,value in v.items %}
                {
                    name: '{{key}}',
                    data: [{{value.0}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + ' ({{value.0|calcular_frecuencia:value.1}} %)'; //num_familia2
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
    });
</script>
{% endfor %}
{%endblock%}

{% block content %}
<div class="container-fluid" id="estado_finca">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Linea base</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a class="active">Familias</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Composición familiar</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_linea_base.html" %}

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Filtros Seleccionado</h4>
                        {% include "herramientaDesicion/filtro-monitoreo.html" %}

                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for year in years %}
                <li class="nav-item">
                    <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{year}}" data-toggle="tab" href="#home-{{year}}" role="tab" aria-controls="home-{{year}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                </li>
            {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for year in years %}
                    <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{year}}" role="tabpanel" aria-labelledby="home-tab-{{year}}">
            {% for k,v in num_familias2.items %}
                      {% if k == year %}
                        Familias: {{v}}
                      {% endif %}
                  {% endfor %}
            {% for k,v in composicion.items %}
            {% if k == year %}
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Promedio número de personas que depende de la finca (Familia)</h4>
                        <div class="table-responsive">
                            <div id="modalidad">
                                <table id="example" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Adultos varones</th>
                                            <th>Adultas mujeres</th>
                                            <th>Jóvenes varones (11-16 años)</th>
                                            <th>Jóvenes mujeres (11-16 años)</th>
                                            <th>niños (1-10 años)</th>
                                            <th>niñas (1-10 años)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{v.0|floatformat:2}}</td>
                                            <td>{{v.1|floatformat:2}}</td>
                                            <td>{{v.2|floatformat:2}}</td>
                                            <td>{{v.3|floatformat:2}}</td>
                                            <td>{{v.4|floatformat:2}}</td>
                                            <td>{{v.5|floatformat:2}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Relación finca-vivienda (relacionado al dueño(s) de la finca)</h4>
                        <div class="table-responsive">
                            <div id="modalidad1">
                                <table id="example" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Viven en la finca</th>
                                            <th>%</th>
                                            <th>Viven en pueblo cerca de finca</th>
                                            <th>%</th>
                                            <th>Vive en ciudad lejos de la finca</th>
                                            <th>%</th>
                                            <th>Pasa tiempo en la finca y tiempo en casa</th>
                                            <th>%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{v.6}}</td>
                                            <td>{{v.6|calcular_frecuencia:v.22}}</td> {# calcular frecuencia#}
                                            <td>{{v.7}}</td>
                                            <td>{{v.7|calcular_frecuencia:v.22}}</td>{# calcular frecuencia#}
                                            <td>{{v.8}}</td>
                                            <td>{{v.8|calcular_frecuencia:v.22}}</td>{# calcular frecuencia#}
                                            <td>{{v.9}}</td>
                                            <td>{{v.9|calcular_frecuencia:v.22}}</td>{# calcular frecuencia#}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Promedio de trabajadores que laboran en la finca</h4>
                        <div class="table-responsive">
                            <div id="modalidad1">
                                <table id="example" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Mujeres</th>
                                            <th>Hombres</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Permanentes</td>
                                            <td>{{v.11|floatformat:2}}</td>
                                            <td>{{v.10|floatformat:2}}</td>
                                        </tr>
                                        <tr>
                                            <td>Temporales</td>
                                            <td>{{v.13|floatformat:2}}</td>
                                            <td>{{v.12|floatformat:2}}</td>
                                        </tr>
                                        <tr>
                                            <td>Técnicos</td>
                                            <td>{{v.15|floatformat:2}}</td>
                                            <td>{{v.14|floatformat:2}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Porcentaje de trabajadores que laboran en la finca</h4>
                        <div class="table-responsive">
                            <div id="modalidad1">
                                <table id="example" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Mujeres</th>
                                            <th>Hombres</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Permanentes</td>
                                            <td>{{v.17|calcular_frecuencia:v.22}} %</td>{# calcular frecuencia#}
                                            <td>{{v.16|calcular_frecuencia:v.22}} %</td>{# calcular frecuencia#}
                                        </tr>
                                        <tr>
                                            <td>Temporales</td>
                                            <td>{{v.19|calcular_frecuencia:v.22}} %</td>{# calcular frecuencia#}
                                            <td>{{v.18|calcular_frecuencia:v.22}} %</td>{# calcular frecuencia#}
                                        </tr>
                                        <tr>
                                            <td>Técnicos</td>
                                            <td>{{v.21|calcular_frecuencia:v.22}} %</td>{# calcular frecuencia#}
                                            <td>{{v.20|calcular_frecuencia:v.22}} %</td>{# calcular frecuencia#}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <div id="container-{{year}}"></div>
                </div>
            </div>
        </div>

            {% endif %}
            {% endfor %}
        </div> <!-- fin del tab pane -->
        {% endfor %}
        </div> <!-- fin del tab content myTabContent -->

        </div>
    </div>
</div>


{% endblock %}

