{% extends "base.html" %}

{% load static tools %}

{%block extra_js%}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src = "https://code.highcharts.com/modules/exporting.js"> </script>
<script type="text/javascript">
$("#collapsecosecha").addClass('show');
$(".item18").addClass('active');
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
    </script>

<script type="text/javascript">
var chart;
{% for k,v in tabla_mazorca.items %}
    Highcharts.chart('container-{{k}}', {
          chart: { 
             type: 'pie',

          },
          title: {
             text: '¿Separan diferentes tipos de mazorcas?'
          },
          tooltip: {
             formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
             }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                     enabled: false
                  },
                  showInLegend: true
               },
               series: {
                  dataLabels: {
                      enabled: true,
                      align: "center",
                      formatter: function() {
                          return ''+ this.percentage.toFixed(1) + ' %';
                      },
                      color: '#000',
                      style: {
                          font: '12px Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              }
          },
           series: [{
                name: '',
             data: [
             {% for key,value in v.items %}
                 ['{{key}}',   {{value}}],
             {% endfor %}
             ]
        }]
     });
  {% endfor %}
//otro
{% for k,v in tabla_cortes.items %}
        Highcharts.chart('container1-{{k}}', {
            chart: { 
                type: 'column'
            },
            title: {
                text: '¿Cómo realizaron los cortes?'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Conteo'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y;
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for key,value in v.items %}
                {
                    name: '{{key}}',
                    data: [{{value.0}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y  + ' ({{value.0|calcular_frecuencia:value.1}} %)';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
{% endfor %}
//otra
{% for k,v in tabla_quiebran.items %}
        Highcharts.chart('container2-{{k}}', {
            chart: { 
                type: 'column'
            },
            title: {
                text: '¿Cómo quiebran las mazorcas?'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Conteos'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y;
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for key,value in v.items %}
                {
                    name: '{{key}}',
                    data: [{{value.0}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y  + ' ({{value.0|calcular_frecuencia:value.1}} %)';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
{% endfor %}
// otro grafico
{% for k,v in  tabla_calidad.items %}
        Highcharts.chart('container3-{{k}}',{
          chart: {
             type: 'pie',

          },
          title: {
             text: '¿Conoce la calidad de su cacao?'
          },
          tooltip: {
             formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
             }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                     enabled: false
                  },
                  showInLegend: true
               },
               series: {
                  dataLabels: {
                      enabled: true,
                      align: "center",
                      formatter: function() {
                          return ''+ this.percentage.toFixed(1) + ' %';
                      },
                      color: '#000',
                      style: {
                          font: '12px Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              }
          },
           series: [{
                name: 'algo',
             data: [
             {% for key,value in v.items %}
                 ['{{key}}',   {{value}}],
             {% endfor %}
             ]
        }]
     });
{% endfor %}
//otro pie para grafico
{% for k,v in tabla_precio.items %}
        Highcharts.chart('container4-{{k}}', {
          chart: { 
             type: 'pie',

          },
          title: {
             text: '¿Reciben un sobre precio para su cacao?'
          },
          tooltip: {
             formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
             }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                     enabled: false
                  },
                  showInLegend: true
               },
               series: {
                  dataLabels: {
                      enabled: true,
                      align: "center",
                      formatter: function() {
                          return ''+ this.percentage.toFixed(1) + ' %';
                      },
                      color: '#000',
                      style: {
                          font: '12px Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              }
          },
           series: [{
                name: '',
             data: [
             {% for key,value in v.items %}
                 ['{{key}}',   {{value}}],
             {% endfor %}
             ]
        }]
     });
{% endfor %}
//fin del document
</script>

{%endblock%}

{% block content %}
<div class="container-fluid" id="estado_finca">
        <div class="row mt-30">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group float-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item">
                                <a href="/">Inicio</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'index-linea-base' %}">Linea base</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'linea-consulta' %}">Consultar</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a class="active">Cosecha</a>
                            </li>
                        </ol>
                    </div>
                    <h4 class="page-title">Cosecha</h4>
                </div>
            </div>
        </div>
        <div class="row mb-50">
            <div class="col-md-2">
                {% include "menu_salidas_linea_base.html" %}

            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="header-title mb-4">Filtros Seleccionado</h4>
                            {% include "herramientaDesicion/filtro-monitoreo.html" %}
                            <br>

                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  {% for year in years %}
                      <li class="nav-item">
                          <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{year}}" data-toggle="tab" href="#home-{{year}}" role="tab" aria-controls="home-{{year}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                      </li>
                  {% endfor %}
                  </ul>
                  <div class="tab-content" id="myTabContent">
                      {% for year in years %}
                          <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{year}}" role="tabpanel" aria-labelledby="home-tab-{{year}}">
                              {% for k,v in num_familias2.items %}
                                {% if k == year %}
                                    Familias: {{v}}
                                {% endif %}
                            {% endfor %}
                            {% for k,v in promedio_precio.items %}
                                {% if k == year %}
                                    <p class="mb-10">¿Cuánto por qq baba?: {{v|floatformat:2}}</p>
                                {% endif %}
                            {% endfor %}

                      {% for k in tabla_cortes.keys %}
                        {% if k == year %}
                          <div class="row">
                    <div class="col-6">
                        <div class="card-box">
                            <div id="container1-{{k}}"></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-box">
                            <div id="container-{{k}}"></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-box">
                            <div id="container2-{{k}}"></div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-box">
                            <div id="container3-{{k}}"></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card-box">
                            <div id="container4-{{k}}"></div>
                        </div>
                    </div>
                </div>
                        {% endif %}
                      {% endfor %}

                          </div>
                      {% endfor %}
                  </div>


            </div>
        </div>
    </div>

{% endblock %}

