<ol class="breadcrumb hide-phone p-0 m-0">
    {%if num_familias%}
        <li class="breadcrumb-item"><b>Familias:</b>{{num_familias}}</li>
    {%endif%}
    {%if request.session.fecha%}
    <li class="breadcrumb-item"><b>Año:</b>{%for x in request.session.fecha%}{{x}}, {%endfor%}</li>
    {%endif%}
    {%if request.session.departamento%}
    <li class="breadcrumb-item"><b>Departamento:</b> {{request.session.departamento}}{%for a in request.session.departamento.all %}{{a}}, {%endfor%}</li>
    {%endif%}
    {%if request.session.organizacion%}
    <li class="breadcrumb-item"><b>Organización: </b> {%for b in request.session.organizacion.all %}{{b.nombre}}, {%endfor%}</li>
    {%endif%}
    {%if request.session.municipio%}
    <li class="breadcrumb-item"><b>Municipio:</b> {{request.session.municipio}}{%for c in request.session.municipio.all %}{{c}}, {%endfor%}</li>
    {%endif%}
    {%if request.session.comunidad%}
    <li class="breadcrumb-item"><b>Comunidad:</b> {{request.session.comunidad}} {%for d in request.session.comunidad.all %}{{d}}, {%endfor%}</li>
    {%endif%}
    {%if request.session.sexo%}
    <li class="breadcrumb-item"><b>Socio:</b>{%if request.session.sexo == '1'%}Mujer{%else%}Hombre{%endif%}</li>
    {%endif%}
</ol>
