{% extends "base.html" %}

{% load static tools %}

{%block extra_js%}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src = "https://code.highcharts.com/modules/exporting.js"> </script>
<script type="text/javascript">
$("#collapsemitigacion").addClass('show');
$(".item21").addClass('active');
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span><i class="fa fa-arrow-up"></i></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span><i class="fa fa-arrow-down"></i></span>');
                flag = true;
            }
            return false;
            });
        });
    </script>

<script type="text/javascript">
var chart;

//pie
{% for k,v in  tabla_monitorio_plaga.items %}
    Highcharts.chart('container-{{k}}', {
          chart: {
             type: 'pie',

          },
          title: {
             text: '¿Realiza monitoreo de plagas y enfermedades?'
          },
          tooltip: {
             formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
             }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                     enabled: false
                  },
                  showInLegend: true
               },
               series: {
                  dataLabels: {
                      enabled: true,
                      align: "center",
                      formatter: function() {
                          return ''+ this.percentage.toFixed(1) + ' %';
                      },
                      color: '#000',
                      style: {
                          font: '12px Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              }
          },
           series: [{
                name: '',
             data: [
             {% for key,value in v.items %}
                 ['{{key}}',   {{value}}],
             {% endfor %}
             ]
        }]
     });
{% endfor %}
//barra
{% for k,v in tabla_monitorio_cada_cuanto.items %}
        Highcharts.chart('container1-{{k}}', {
            chart: { 
                type: 'column'
            },
            title: {
                text: '¿Cada cuánto realiza monitoreo de plagas y enfermedades?'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Conteos'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y;
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for key,value in v.items %}
                {
                    name: '{{key}}',
                    data: [{{value.0}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + ' ({{value.0|calcular_frecuencia:value.1}} %)';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
{% endfor %}
//pie

{% for k,v in tabla_monitorio_realiza.items %}
        Highcharts.chart('container2-{{k}}', {
          chart: { 
             type: 'pie',

          },
          title: {
             text: '¿Cómo realiza monitoreo de plagas y enfermedades?'
          },
          tooltip: {
             formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
             }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                     enabled: false
                  },
                  showInLegend: true
               },
               series: {
                  dataLabels: {
                      enabled: true,
                      align: "center",
                      formatter: function() {
                          return ''+ this.percentage.toFixed(1) + ' %';
                      },
                      color: '#000',
                      style: {
                          font: '12px Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              }
          },
           series: [{
                name: '',
             data: [
             {% for key,value in v.items %}
                 ['{{key}}',   {{value}}],
             {% endfor %}
             ]
        }]
     });
{% endfor %}
//pie

{% for k,v in tabla_lleva_registro.items %}
    Highcharts.chart('container3-{{k}}', {
          chart: { 
             type: 'pie',

          },
          title: {
             text: '¿Si lleva registro de monitoreo de plagas y enfermedades?'
          },
          tooltip: {
             formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
             }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                     enabled: false
                  },
                  showInLegend: true
               },
               series: {
                  dataLabels: {
                      enabled: true,
                      align: "center",
                      formatter: function() {
                          return ''+ this.percentage.toFixed(1) + ' %';
                      },
                      color: '#000',
                      style: {
                          font: '12px Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              }
          },
           series: [{
                name: '',
             data: [
             {% for key,value in v.items %}
                 ['{{key}}',   {{value}}],
             {% endfor %}
             ]
        }]
     });
{% endfor %}
//pie
{% for k,v in tabla_suficiente_recurso.items %}
    Highcharts.chart('container4-{{k}}', {
          chart: {
             type: 'pie',

          },
          title: {
             text: '¿Cuenta con suficiente recursos para manejo de finca?'
          },
          tooltip: {
             formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
             }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                     enabled: false
                  },
                  showInLegend: true
               },
               series: {
                  dataLabels: {
                      enabled: true,
                      align: "center",
                      formatter: function() {
                          return ''+ this.percentage.toFixed(1) + ' %';
                      },
                      color: '#000',
                      style: {
                          font: '12px Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              }
          },
           series: [{
                name: 'algo',
             data: [
             {% for key,value in v.items %}
                 ['{{key}}',   {{value}}],
             {% endfor %}
             ]
        }]
     });
{% endfor %}
//barra
{% for k,v in tabla_falta_recurso.items %}
        Highcharts.chart('container5-{{k}}', {
            chart: { 
                type: 'column'
            },
            title: {
                text: '¿Para qué cosas hace falta los recursos?'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Conteos'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y;
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for key,value in v.items %}
                {
                    name: '{{key}}',
                    data: [{{value.0}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + ' ({{value.0|calcular_frecuencia:value.1}} %)';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
{% endfor %}
//pie
{% for k,v in tabla_obra_almacenamiento.items %}
        Highcharts.chart('container6-{{k}}', {
          chart: {
             type: 'pie',

          },
          title: {
             text: '¿Cuenta con obras para almacenamiento de agua?'
          },
          tooltip: {
             formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
             }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                     enabled: false
                  },
                  showInLegend: true
               },
               series: {
                  dataLabels: {
                      enabled: true,
                      align: "center",
                      formatter: function() {
                          return ''+ this.percentage.toFixed(1) + ' %';
                      },
                      color: '#000',
                      style: {
                          font: '12px Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              }
          },
           series: [{
                name: '',
             data: [
             {% for key,value in v.items %}
                 ['{{key}}',   {{value}}],
             {% endfor %}
             ]
        }]
     });
{% endfor %}
//pie
{% for k,v in tabla_venta_organizada.items %}
        Highcharts.chart('container7-{{k}}', {
          chart: { 
             type: 'pie',

          },
          title: {
             text: '¿Vende su Cacao en forma organizada?'
          },
          tooltip: {
             formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
             }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                     enabled: false
                  },
                  showInLegend: true
               },
               series: {
                  dataLabels: {
                      enabled: true,
                      align: "center",
                      formatter: function() {
                          return ''+ this.percentage.toFixed(1) + ' %';
                      },
                      color: '#000',
                      style: {
                          font: '12px Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              }
          },
           series: [{
                name: 'algo',
             data: [
             {% for key,value in v.items %}
                 ['{{key}}',   {{value}}],
             {% endfor %}
             ]
        }]
     });
{% endfor %}
//pie
{% for k,v in tabla_contrato_venta.items %}
    Highcharts.chart('container8-{{k}}', {
          chart: { 
             type: 'pie',

          },
          title: {
             text: '¿Cuenta con un contrato para la venta de cacao?'
          },
          tooltip: {
             formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
             }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                     enabled: false
                  },
                  showInLegend: true
               },
               series: {
                  dataLabels: {
                      enabled: true,
                      align: "center",
                      formatter: function() {
                          return ''+ this.percentage.toFixed(1) + ' %';
                      },
                      color: '#000',
                      style: {
                          font: '12px Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              }
          },
           series: [{
                name: 'algo',
             data: [
             {% for key,value in v.items %}
                 ['{{key}}',   {{value}}],
             {% endfor %}
             ]
        }]
     });
{% endfor %}
//pie

{% for k,v in tabla_certificado.items %}
        Highcharts.chart('container9-{{k}}', {
          chart: { 
             type: 'pie',

          },
          title: {
             text: '¿Está certificado los cacaotales?'
          },
          tooltip: {
             formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
             }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                     enabled: false
                  },
                  showInLegend: true
               },
               series: {
                  dataLabels: {
                      enabled: true,
                      align: "center",
                      formatter: function() {
                          return ''+ this.percentage.toFixed(1) + ' %';
                      },
                      color: '#000',
                      style: {
                          font: '12px Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              }
          },
           series: [{
                name: '',
             data: [
             {% for key,value in v.items %}
                 ['{{key}}',   {{value}}],
             {% endfor %}
             ]
        }]
     });
{% endfor %}
//barra
{% for k,v in tabla_tipo_certificado.items %}
        Highcharts.chart('container10-{{k}}', {
            chart: { 
                type: 'column'
            },
            title: {
                text: '¿Qué tipo de certificación?'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Conteos'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y;
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for key,value in v.items %}
                {
                    name: '{{key}}',
                    data: [{{value.0}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + ' ({{value.0|calcular_frecuencia:value.1}} %)';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
{% endfor %}
//pie
{% for k,v in tabla_calidad_cacao.items %}
        Highcharts.chart('container11-{{k}}', {
          chart: { 
             type: 'pie',

          },
          title: {
             text: '¿La calidad de su cacao en reconocida y monitoreada?'
          },
          tooltip: {
             formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
             }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                     enabled: false
                  },
                  showInLegend: true
               },
               series: {
                  dataLabels: {
                      enabled: true,
                      align: "center",
                      formatter: function() {
                          return ''+ this.percentage.toFixed(1) + ' %';
                      },
                      color: '#000',
                      style: {
                          font: '12px Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              }
          },
           series: [{
                name: '',
             data: [
             {% for key,value in v.items %}
                 ['{{key}}',   {{value}}],
             {% endfor %}
             ]
        }]
     });
{% endfor %}
//pie

{% for k,v in tabla_plan_manejo.items %}
        Highcharts.chart('container12-{{k}}', {
          chart: {
             type: 'pie',

          },
          title: {
             text: '¿Cuenta con plan de manejo de la finca?'
          },
          tooltip: {
             formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
             }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                     enabled: false
                  },
                  showInLegend: true
               },
               series: {
                  dataLabels: {
                      enabled: true,
                      align: "center",
                      formatter: function() {
                          return ''+ this.percentage.toFixed(1) + ' %';
                      },
                      color: '#000',
                      style: {
                          font: '12px Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              }
          },
           series: [{
                name: 'algo',
             data: [
             {% for key,value in v.items %}
                 ['{{key}}',   {{value}}],
             {% endfor %}
             ]
        }]
     });
{% endfor %}
//pie
{% for k,v in tabla_plan_negocio.items %}
        Highcharts.chart('container13-{{k}}', {
          chart: { 
             type: 'pie',

          },
          title: {
             text: '¿Cuenta con un plan de negocio para el cultivo de cacao?'
          },
          tooltip: {
             formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
             }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                     enabled: false
                  },
                  showInLegend: true
               },
               series: {
                  dataLabels: {
                      enabled: true,
                      align: "center",
                      formatter: function() {
                          return ''+ this.percentage.toFixed(1) + ' %';
                      },
                      color: '#000',
                      style: {
                          font: '12px Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              }
          },
           series: [{
                name: '',
             data: [
             {% for key,value in v.items %}
                 ['{{key}}',   {{value}}],
             {% endfor %}
             ]
        }]
     });
{% endfor %}
//pie
{% for k,v in tabla_plan_inversion.items %}
        Highcharts.chart('container14-{{k}}', {
          chart: { 
             type: 'pie',

          },
          title: {
             text: '¿Cuenta con un plan de inversión para el cultivo de cacao?'
          },
          tooltip: {
             formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
             }
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                     enabled: false
                  },
                  showInLegend: true
               },
               series: {
                  dataLabels: {
                      enabled: true,
                      align: "center",
                      formatter: function() {
                          return ''+ this.percentage.toFixed(1) + ' %';
                      },
                      color: '#000',
                      style: {
                          font: '12px Trebuchet MS, Verdana, sans-serif'
                      }
                  }
              }
          },
           series: [{
                name: '',
             data: [
             {% for key,value in v.items %}
                 ['{{key}}',   {{value}}],
             {% endfor %}
             ]
        }]
     });
{% endfor %}
//barra
{% for k,v in tabla_apoya_planes.items %}
        Highcharts.chart('container15-{{k}}', {
            chart: { 
                type: 'column'
            },
            title: {
                text: '¿Quién apoyo para elaborar estos planes?'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Conteos'
                }
            },

            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y;
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 55,
                    minPointLength : 1
                }
            },
            series: [{% for key,value in v.items %}
                {
                    name: '{{key}}',
                    data: [{{value.0}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + ' ({{value.0|calcular_frecuencia:value.1}} %)';
                                                  },
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                                }
                                }
                },
                {% endfor %}]
        });
{% endfor %}
//fin del document
</script>

{%endblock%}

{% block content %}
<div class="container-fluid" id="estado_finca">
    <div class="row mt-30">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                            <a href="/">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'index-linea-base' %}">Linea base</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'linea-consulta' %}">Consultar</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a class="active">Mitigación</a>
                        </li>
                    </ol>
                </div>
                <h4 class="page-title">Mitigación de riesgos</h4>
            </div>
        </div>
    </div>
    <div class="row mb-50">
        <div class="col-md-2">
            {% include "menu_salidas_linea_base.html" %}

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title mb-4">Filtros Seleccionado</h4>
                        {% include "herramientaDesicion/filtro-monitoreo.html" %}
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for year in years %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{year}}" data-toggle="tab" href="#home-{{year}}" role="tab" aria-controls="home-{{year}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
                    </li>
                {% endfor %}
                </ul>
                <div class="tab-content" id="myTabContent">
                    {% for year in years %}
                        <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{year}}" role="tabpanel" aria-labelledby="home-tab-{{year}}">
                            {% for k,v in num_familias2.items %}
                                {% if k == year %}
                                    Familias: {{v}}
                                {% endif %}
                            {% endfor %}

                    {% for k in tabla_monitorio_plaga.keys %}
                      {% if k == year %}
                        <div class="row">
                <div class="col-6">
                    <div class="card-box">
                        <div id="container-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container1-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container2-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container3-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container4-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container5-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container6-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container7-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container8-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container9-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container10-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container11-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container12-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container13-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container14-{{k}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-box">
                        <div id="container15-{{k}}"></div>
                    </div>
                </div>
            </div>
                      {% endif %}
                    {% endfor %}

                        </div>
                    {% endfor %}
                </div>

        </div>
    </div>
</div>



{% endblock %}

