<li class="nav-item"><a class="nav-link" href="/linea-base/organizacion/">Organización</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/composicion/">Composición familiar</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/servicios/">Servicios básicos</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/tenencia/">Tenencia de la tierra</a></li>
<li class="nav-item"><a class="nav-link" href="/linea-base/seguridad/">Seguridad alimentaria</a></li>

