<ul class="nav nav-tabs" id="myTab" role="tablist">
{% for year in years %}
    <li class="nav-item">
        <a class="nav-link {% if forloop.counter == 1%}active {%endif%}" id="home-tab-{{year}}" data-toggle="tab" href="#home-{{year}}" role="tab" aria-controls="home-{{year}}" aria-selected="{% if forloop.counter == 1 %} true {%else%}false {%endif%}">{{year}}</a>
    </li>
{% endfor %}
</ul>
<div class="tab-content" id="myTabContent">
    {% for year in years %}
        <div class="tab-pane fade show {% if forloop.counter == 1%}active {%endif%}" id="home-{{year}}" role="tabpanel" aria-labelledby="home-tab-{{year}}">
            {{year}}
        </div>
    {% endfor %}
</div>

[{**a, **b, **c} for a, b, c in zip(listone, listtwo, listthree)]

tabla_rubros.items|dictsort:0
years = request.session['fecha']
num_familias2[year] = filtro.filter(year=year).count()
